In [1]:
# used to open large csv files as I have low ram
import sys
import csv
maxInt = sys.maxsize
while True:
    # decrease the maxInt value by factor 10 
    # as long as the OverflowError occurs.

    try:
        csv.field_size_limit(maxInt)
        break
    except OverflowError:
        maxInt = int(maxInt/10)

In [2]:
import pandas as pd

In [8]:
#open the csv file
import pandas as pd
data=pd.read_csv("export.csv", engine='python')

In [2]:
import pandas as pd
final_data=pd.read_csv('final_gender_df.csv')

C:\ProgramData\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3071: DtypeWarning: Columns (47,48,49,50,51,52,53,54,55,56,57,58,59,60,61,62,63,64,65,66,67,68,69,70,71,72,73,74,75,76,77,78,79,80,81,82,83,84,85,86,87,88,89,90,91,92,93,94,95,96,97,98,99,100,101,102,103,104,105,106,107,108,109,110,111,112,113,114,115,116,117,118,119,120,121,122,123,124,125,126,127,128,129,130,131,132,133,134,135,136,137,138,139,140,141,142,143,144,145,146,147,148,149,150,151,152,153,154,155,156,157,158,159,160,161,162,163,164,165,166,167,168,169,170,171,172,173,174,175,176,177,178,179,180,181,182,183,184,185,186,187,188,189,190,191,192,193,194,195,196) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [3]:
df_name_country=final_data

In [3]:

city_country=pd.read_csv("City_country_university.csv", engine='python')

In [4]:
Uni_region=pd.read_csv("Performance.csv", engine='python')

In [121]:
Uni_region2=pd.read_csv('Unis_with_region.csv', engine='python')

In [10]:
City=Uni_region.University.str.split(',', expand=True)

In [15]:
Uni_region['University only']=City[0]

In [5]:
city_country.columns

Index(['Unnamed: 0', 'universities', 'Departments', 'Cities', 'Countries'], dtype='object')

In [7]:
unis=city_country.universities.str.split(',', expand=True)

In [1]:
#Countries=city_country.universities.str.split(',', expand=True)

In [2]:
#city_country[city_country['universities'].str.contains("Department of Mathematics")]

In [503]:
import numpy as np
Cities = Cities.replace(np.nan, '', regex=True)

In [106]:
z=unis.replace( {r"[a-zA-Z0-9]*",'' }, inplace= True, regex = True)

In [571]:
zz=df_name_country['0'].replace( {r"[a-zA-Z0-9] *",'' }, inplace= True, regex = True)

In [131]:
'*Department of Medicine Ayub Medical College'.replace('r"[a-zA-Z]', '')

'*Department of Medicine Ayub Medical College'

In [125]:
for x in unis:
    unis[x]=unis[x].str.replace('\W ', '')

In [486]:
Cities = Cities.replace('[^A-Za-z ]+', '',regex=True)

In [487]:
#leading whtie space
#r"^\s+" , ""
Cities = Cities.replace(r"^\s+" , '',regex=True)

In [ ]:
import re
for x in unis:
    unis3[x]=unis3[x].str.replace('\W ', '')
re.sub('[^A-Za-z0-9 ]+', '', mystring)

In [141]:
for x in unis:
    unis3[x]=unis3[x].str.replace('[', '')

In [3]:

# for column in unis3:
#     print(column)
#     for x in range(0,len(unis2[column])):
        
#         if (len(unis3[column][x])>0):
#             if (unis3[column][x]!='*Department of Medicine Ayub Medical College'):
#                 if (unis3[column][x]!='National University of Sciences and Technology (NUST'):
# #                     print(unis[column][x])
#                     z=len(Uni_region2[Uni_region2['University only'].str.match(unis3[column][x])]['Region'])
#                     if z>0:
#                         unis3[column][x]=Uni_region2[Uni_region2['University only'].str.match(unis3[column][x])]['Region'].iloc[0]
# #                         print(unis[column][x])

In [507]:
unis4=Cities
for column in unis4:
    print(column)
    for x in range(0,len(unis2[column])):
        
        if (len(unis4[column][x])>0):
            if (unis4[column][x]!='*Department of Medicine Ayub Medical College'):
                if (unis4[column][x]!='National University of Sciences and Technology (NUST'):
#                     print(unis[column][x])
                    z=len(Uni_region2[Uni_region2['City'].str.match(unis4[column][x])]['Region'])
                    if z>0:
                        unis4[column][x]=Uni_region2[Uni_region2['City'].str.match(unis4[column][x])]['Region'].iloc[0]
#                         print(unis[column][x])

0

ValueError: Cannot mask with non-boolean array containing NA / NaN values

In [313]:
for columns in df_testt:
    
    df_name_uni[columns]=df_testt[columns]+'|'+unis2[columns]

ValueError: unknown type str32

In [673]:
male=0
female=0
total=0
for column in df_name_university2.iloc[:, : 197]:
    male=male+df_name_university2[column].loc[df_name_university2[column]=='male|Public'].count()
    female=female+df_name_university2[column].loc[df_name_university2[column]=='female|Public'].count()
    
print('Public '+str(male)+' female '+str(female)+' female proportion '+str((female/(male+female))))

Public 108994 female 26018 female proportion 0.1927087962551477

In [657]:
male=df_name_region2['LastAuthor'].loc[df_name_region2['LastAuthor']=='male|Azad Jammu and Kashmir'].count()
print(male)
female=df_name_region2['LastAuthor'].loc[df_name_region2['LastAuthor']=='female|Azad Jammu and Kashmir'].count()
print(female)
print(female/(male+female))

48
14
0.22580645161290322

In [670]:
male=df_name_university2['0'].loc[df_name_university2['0']=='male|Private'].count()
print(male)
female=df_name_university2['0'].loc[df_name_university2['0']=='female|Private'].count()
print(female)
print(female/(male+female))

13024
2933
0.18380647991477095

In [668]:
male=df_name_university2['0'].loc[df_name_university2['0']=='male|Public'].count()
print(male)
female=df_name_university2['0'].loc[df_name_university2['0']=='female|Public'].count()
print(female)
print(female/(male+female))

54309
12013
0.18113144959440305

In [617]:
female=df_name_region['0'].loc[df_name_region['0']=='female|Azad Jammu and Kashmir'].count()

In [8]:
for x in city_country['universities'].unique():

array(['University of Karachi',
       'Government College University,Erciyes University',
       'Molecular and Cell Genetics Laboratory, CAS Key Laboratory of Innate Immunity and Chronic Disease, Hefei National Laboratory for Physical Sciences at Microscale, School of Life Sciences, University of Science and Technology of China,Department of Biochemistry and Molecular Biology, School of Basic Medical Sciences, Anhui Medical University,Center for Reproductive Medicine, Anhui Provincial Hospital Affiliated to Anhui Medical University,Department of Statistics, University of Kentucky,Collaborative Innovation Center of Genetics and Development, Fudan University,Hefei Institutes of Physical Science, Chinese Academy of Sciences,Institute of Pure and Applied Biology, Bahauddin Zakariya University Multan',
       ...,
       'NWFP University of Engineering and Technology,Capital University of Science and Technology,International Islamic University',
       'Structures Department, AMEY,Department of Civil Engineering, Muhammad Ali Jinnah University',
       'University of the Punjab,Dalhousie University Halifax,Aurel Vlaicu,University of Lahore'],
      dtype=object)

In [9]:
data['University']=city_country['universities']
data['Departments']=city_country['Departments']
data['Cities']=city_country['Cities']
data['Countries']=city_country['Countries']

In [157]:
DATA.columns

Index(['Unnamed: 0', 'Eid', 'ItemStage', 'PII', 'PUI', 'ScienceDirectScore',
       'abstract', 'citation_type', 'correspondence', 'doi', 'funding_content',
       'funding_count', 'funding_text', 'issn', 'item_online', 'n_Af', 'n_Au',
       'n_citations', 'n_subjareas', 'openaccess', 'pmid', 'pub_year', 'title',
       'Af_str', 'ASJC_str', 'Au_str', 'Au_cors_str', 'Au_unique_IN_str',
       'citations_str', 'copyright_types_str', 'funding_list_str', 'grant_str',
       'keywords_str', 'source_str', 'subjareas_str', 'Full name',
       'Full name count', 'University', 'Departments', 'Cities', 'Countries'],
      dtype='object')

In [10]:
data['Countries'].values[2]

'China,China,China,United States,China,China,Pakistan'

### Removing entries before 1947 pakistan

In [3]:
data.pub_year.count()

207397

In [4]:
data['pub_year'].loc[data['pub_year']>1947].count()

207051

# Extracting first name and last name ofe ach author

In [165]:
quoted = re.compile("(?<=')[^']+(?=')")
c=quoted.findall(res['given_name'])
cc=quoted.findall(res['surname'])
# res['given_name']+res['surname']

In [23]:
#drop a row
data=data.drop(data.index[79])

In [12]:
data['Full name count'] = data['Full name'].apply(lambda x: len(x.split(',')))

In [36]:
#dropping rows where authors names are null
data=data[data['Au_unique_IN_str'].notnull()]

In [ ]:
data['Authors count'] = data['Full name'].apply(lambda x: len(x.split(',')))

In [56]:
data['Countries'].loc[data['Countries'].isnull()].count()

0

In [38]:
# #count number of authors
data['NumberofAuthors'] = data['Au_unique_IN_str'].apply(lambda x: len(x.split(',')))

In [81]:
data['Countries'].loc[data['Countries'].isnull()].count()

0

In [80]:
len(data['Countries'])

207395

In [50]:
newdff=data.loc[data['NumberofAuthors'] < data['Full name count']]

# Authors full name splitted

In [114]:
countrynames1=data_top['Countries'].str.split(",",expand=True)

In [249]:
actualauthors1=final_df['Au_unique_IN_str'].str.split(",",expand=True)

In [112]:
#drop authors greater than 200 to reduce the size of dataframe
data_top=data[data.NumberofAuthors < 200]

In [108]:
countrynames.loc[countrynames[214].notnull()]

,0,1,2,3,4,5,6,7,8,9,...,205,206,207,208,209,210,211,212,213,214
70132,United States,Iran,Iran,Iran,Iran,Iran,Iran,Iran,Iran,Iran,...,Iran,Iran,Germany,Ethiopia,Canada,Iran,Iran,Iran,Iran,China

In [137]:
authorgender=pd.DataFrame()

In [ ]:
import pandas as pd

def stream_groupby_csv(path, key, agg, chunk_size=1e6):

    # Tell pandas to read the data in chunks
    chunks = pd.read_csv(p, chunksize=chunk_size)

    results = []
    orphans = pd.DataFrame()

    for chunk in chunks:

        # Add the previous orphans to the chunk
        chunk = pd.concat((orphans, chunk))

        # Determine which rows are orphans
        last_val = chunk[key].iloc[-1]
        is_orphan = chunk[key] == last_val

        # Put the new orphans aside
        chunk, orphans = chunk[~is_orphan], chunk[is_orphan]

        # Perform the aggregation and store the results
        result = agg(chunk)
        results.append(result)

    return pd.concat(results)

In [188]:
df_testt['2'].loc[~df_testt['2'].str.match('[\u0080-\uFFFF]')]

0                       female
1                         male
2                         male
3                         male
4                         male
                  ...
207392                Ali Aman
207393             Kiran Iqbal
207394                    None
207395           Christy Munir
207396    Mohamed E. El-Hawary
Name: 2, Length: 205632, dtype: object

In [196]:
mystring='Andrea SemaniÃƒÆ’Ã†â€™Ãƒâ€ Ã¢â*()[]'

In [197]:
mystring.split('Ã')[0]

'Andrea Semani'

In [197]:
import re
re.sub('[^A-Za-z0-9 ]+', '', mystring)

'Andrea Semani '

In [4]:

# # df_Pak_names.loc[df_Pak_names[column].notnull(),column]
# myString = ""
# df_Pak_genders = pd.DataFrame()
# mylist= []
# count=0
# for column in df_testt:
#     print('Column is'+str(column))
#     for i in range(len(df_testt[column])):
# #         if count%2000==0:
# #             df_testt.to_csv('updatednamegender.csv')
#         if (df_testt[column].values[i] != 'None'):
            
#             if ((df_testt[column].values[i] != 'male')):
#                 if ((df_testt[column].values[i] != 'female')):
#                     if "Ã" in (df_testt[column].values[i]):
#                         continue
# #                     if(df_testt[column].values[i].contains('Ã')):
# #                         df_testt[column].values[i]=df_testt[column].values[i].split('Ã')[0]
# #                     df_testt[column].values[i]=re.sub('[^A-Za-z0-9]+', '', df_testt[column].values[i])
# #                     print(df_testt[column].values[i])
# #                     print(df_testt[column].values[i])
                    
# #                     if(i!=57363):

#                     print(i)
# #                     if(pd.isnull(df_testt[column].values[i])):
# #                     print('math nan value '+str(i))
# #                     else:
#                     gender=gender_fullname(df_testt[column].values[i])
#                     df_testt[column].values[i] = gender
# #                     print(i)
# #                     mylist.append(gender)

In [223]:
df_testt['LastAuthor'] = df_testt.iloc[:, 1:].ffill(axis=1).iloc[:, -1]

In [170]:
df_testt.replace('None', np.nan, inplace=True)

In [171]:
df_testt=df_testt.replace(to_replace=[None], value=np.nan, inplace=True)

In [224]:
df_testt['LastAuthor']

0         female
1           male
2         female
3           male
4           male
           ...
205627      male
205628      male
205629      male
205630    female
205631      male
Name: LastAuthor, Length: 205632, dtype: object

In [5]:
# lastgender=''
# for index, row in df_testt.iterrows():
#     if (row[0]=='None'):
#         continue
#     else:
#         lastgender=row
#     print(lastgender)

# Final dataframe after extracting gender

In [296]:
final_df['2'].loc[final_df['2'].notnull()].count()

162787

In [274]:
final_df['4'].loc[final_df['4'] != 'None'].count()

83162

In [28]:
df_testt['1'].loc[df_testt['2'] != 'None'].count()

192923

In [263]:
z=final_df['2']

In [262]:
final_df['2_actual']=actualauthors1[2]

In [268]:
final_df['1_actual']=actualauthors1[1]

In [297]:
final_df['2'] = np.where(final_df['2_actual'].isnull(), final_df['2_actual'], final_df['2'])

In [291]:
columns='2'
df_testt[columns] = np.where(actualauthors1[int(columns)].isnull(), actualauthors1[int(columns)], df_testt[columns])

# Exploring extraction of authors based on country

In [11]:
final_df['Countries']

0                                                  Pakistan
1                                           Pakistan,Turkey
2         China,China,China,United States,China,China,Pa...
3                                         Pakistan,Pakistan
4                                          Pakistan,Karachi
                                ...
205627                           Pakistan,Pakistan,Pakistan
205628                                    Pakistan,Pakistan
205629                              United Kingdom,Pakistan
205630                                             Pakistan
205631                     Pakistan,Canada,Romania,Pakistan
Name: Countries, Length: 205632, dtype: object

In [18]:
Countries=final_df['Countries'].str.split(",",expand=True)

In [34]:
Cities=final_df['Cities'].str.split(",",expand=True)

In [326]:
Cities=final_df2['Cities'].str.split(",",expand=True)

In [210]:
Universities=final_df2['University_y'].str.split(",",expand=True)

In [342]:
Universities_Region=Universities.iloc[:, : 197]

In [343]:
Universities_Region

,0,1,2,3,4,5,6,7,8,9,...,187,188,189,190,191,192,193,194,195,196
0,University of Karachi,None,None,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
1,Government College University,Erciyes University,None,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
2,Molecular and Cell Genetics Laboratory,CAS Key Laboratory of Innate Immunity and Chr...,Hefei National Laboratory for Physical Scienc...,School of Life Sciences,University of Science and Technology of China,Department of Biochemistry and Molecular Biology,School of Basic Medical Sciences,Anhui Medical University,Center for Reproductive Medicine,Anhui Provincial Hospital Affiliated to Anhui...,...,None,None,None,None,None,None,None,None,None,None
3,University of Sargodha,University of Sargodha,None,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
4,Kuwait Teaching Hospital,Defence Housing Authority,None,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
205627,The Aga Khan University,None,None,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
205628,Institute of Space Technology,King Khalid University,DCC-KFUPM,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
205629,Arriyadh Community College,King Saud University,Department of Zoology,Kohat University of Science and Technology,Department of Chemistry,Government College Ara Khel,FR Kohat,None,None,None,...,None,None,None,None,None,None,None,None,None,None
205630,Nishtar Hospital Multan,Children Hospital Complex,Nishtar Hospital Multan,Nishtar Hospital Multan,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
205631,COMSATS Institute of Information Technology,None,None,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None

In [516]:
for columns in df_testt:
    
    df_name_region[columns]=df_testt[columns]+'|'+unis3[int(columns)]

In [663]:
df_name_university2['LastAuthor'] = df_name_university2.iloc[:, 1:].ffill(axis=1).iloc[:, -1]

In [30]:
for columns in df_name_country:
    df_name_country[columns] = df_name_country[columns].fillna(df_testt[columns])

In [342]:
columns='0'
df_name_country[columns] = np.where(df_name_country[columns].isnull(), df_name_country[columns], df_testt[columns])

In [32]:
for columns in df_name_country:
#     print('Female authors '+ str(columns)+'    '+str(df_name_country[columns].str.startswith('female|Pakistan').sum()))
#     print(df_name_country[columns].str.startswith('male|Pakistan').sum())
    femaletomale=(df_name_country[columns].str.startswith('female|Pakistan').sum()/df_name_country[columns].str.startswith('male|Pakistan').sum())*100
    print('Pakistan '+str(int(femaletomale))+'% female '+str(int(columns)+1)+' authors')
#     print(df_name_country[columns].str.endswith('female').sum())
#     print(df_name_country[columns].str.endswith('male').sum())

Pakistan 22% female 1 authors
Pakistan 29% female 2 authors
Pakistan 20% female 3 authors
Pakistan 19% female 4 authors
Pakistan 20% female 5 authors
Pakistan 21% female 6 authors
Pakistan 30% female 7 authors
Pakistan 35% female 8 authors
Pakistan 16% female 9 authors
Pakistan 16% female 10 authors
Pakistan 0% female 11 authors
Pakistan 33% female 12 authors
Pakistan 0% female 13 authors
Pakistan 0% female 14 authors
Pakistan 0% female 15 authors
Pakistan 0% female 16 authors

ZeroDivisionError: division by zero

In [401]:
df_name_country['0'].str.count('male|Karachi')

0         1
1         1
2         1
3         1
4         1
         ..
207392    1
207393    1
207394    1
207395    1
207396    1
Name: 0, Length: 205632, dtype: int64

In [411]:
df_name_country['0'].str.startswith('male|Turkey').sum()

699

In [18]:
df_name_country['n_Au']=final_df['n_Au']

In [62]:
df_name_country['Subject']=final_df['Subject']

In [440]:
df_name_country['Subject'].unique()

array(['AGRI', 'CHEM', 'IMMU', 'MEDI', 'DENT', 'MATH', 'ENGI', 'BIOC',
       'ARTS', 'COMP', 'VETE', 'PHYS', 'ENER', 'PHAR', 'MATE', 'CENG',
       'EART', 'ENVI', 'BUSI', 'SOCI', 'MULT', 'ECON', 'DECI', 'NURS',
       'HEAL', 'PSYC', 'undefined', 'NEUR', nan], dtype=object)

In [494]:
data.ASJC_str

0                                  [1107]
1                        [1600,2500,3104]
2                        [1100,1300,1710]
3                        [1600,2500,3104]
4                             [2405,2725]
                       ...
207392                   [2208,2500,3104]
207393    [1303,1503,1604,1605,1606,3002]
207394                             [2205]
207395                             [1600]
207396              [1702,1712,2604,2614]
Name: ASJC_str, Length: 207397, dtype: object

In [497]:
decade=pd.DataFrame()

In [118]:
OverallResults_df1['Female'].sum()/OverallResults_df1['totalauthorscount'].sum()

0.18225901253918494

In [ ]:
OverallResults_df['Authorship']=Authorship
OverallResults_df['Authorship1']=Authorship1
OverallResults_df['Male']=maleauthorscount
OverallResults_df['Female']=femaleauthorscount
# OverallResults_df['femaletomaleratio']=femaletomaleratio
OverallResults_df['Female Proportion']=femalepercentage

# Overall total gender landscape

In [108]:
OverallResults_df.to_csv('overall_results.csv')
maleauthorscount=[]
totalauthorscount=[]
femaleauthorscount=[]
femaletomaleratio=[]
femalepercentage=[]
Authorship=[]
Authorship1=[]


df_dummy=df_name_country
df_dummy = df_dummy[df_dummy.columns[0:12]]
for column in df_dummy:
    if int(column)<100:
        maleauthors=df_dummy[column].loc[df_dummy[column]=='male|Pakistan'].count()
        femaleauthors=df_dummy[column].loc[df_dummy[column]=='female|Pakistan'].count()
        Totalauthors=maleauthors+femaleauthors
        maleauthorscount.append(maleauthors)
        femaleauthorscount.append(femaleauthors)
        femaletomaleratio.append((femaleauthors/maleauthors))
        femalepercentage.append(round((femaleauthors/Totalauthors)*100, 2))
        Authorship.append(str(int(column)+1)+' Authorship')
        print(str(int(column)+1)+' Authorship -->  Male '+str(maleauthors)+' Female '+str(femaleauthors)+' Total '+str(Totalauthors)+' male to female ratio '+str(femaleauthors/Totalauthors))
        Authorship1.append(str(int(column)+1))

In [532]:
maleauthorscount=[]
totalauthorscount=[]
femaleauthorscount=[]
femaletomaleratio=[]
femalepercentage=[]
Authorship=[]
Authorship1=[]


df_dummy=df_name_region
df_dummy = df_dummy[df_dummy.columns[0:196]]
for column in df_dummy:
    if int(column)<196:
        maleauthors=df_dummy[column].loc[df_dummy[column]=='male|Punjab'].count()
        femaleauthors=df_dummy[column].loc[df_dummy[column]=='female|Punjab'].count()
        Totalauthors=maleauthors+femaleauthors
        maleauthorscount.append(maleauthors)
        femaleauthorscount.append(femaleauthors)
        femaletomaleratio.append((femaleauthors/maleauthors))
        femalepercentage.append(round((femaleauthors/Totalauthors)*100, 2))
        totalauthorscount.append(Totalauthors)
        Authorship.append(str(int(column)+1)+' Authorship')
        print(str(int(column)+1)+' Authorship -->  Male '+str(maleauthors)+' Female '+str(femaleauthors)+' Total '+str(Totalauthors)+' male to female ratio '+str(femaleauthors/Totalauthors))
        Authorship1.append(str(int(column)+1))

1 Authorship -->  Male 32660 Female 7291 Total 39951 male to female ratio 0.1824985607369027
2 Authorship -->  Male 21419 Female 6392 Total 27811 male to female ratio 0.22983711481068642
3 Authorship -->  Male 9285 Female 1880 Total 11165 male to female ratio 0.1683833407971339
4 Authorship -->  Male 4047 Female 773 Total 4820 male to female ratio 0.1603734439834025
5 Authorship -->  Male 1189 Female 268 Total 1457 male to female ratio 0.18393960192175704
6 Authorship -->  Male 467 Female 119 Total 586 male to female ratio 0.2030716723549488
7 Authorship -->  Male 136 Female 31 Total 167 male to female ratio 0.18562874251497005
8 Authorship -->  Male 63 Female 20 Total 83 male to female ratio 0.24096385542168675
9 Authorship -->  Male 23 Female 1 Total 24 male to female ratio 0.041666666666666664
10 Authorship -->  Male 9 Female 4 Total 13 male to female ratio 0.3076923076923077
11 Authorship -->  Male 3 Female 1 Total 4 male to female ratio 0.25
12 Authorship -->  Male 3 Female 1 Total 4 male to female ratio 0.25
13 Authorship -->  Male 0 Female 0 Total 0 male to female ratio nan
14 Authorship -->  Male 1 Female 0 Total 1 male to female ratio 0.0
15 Authorship -->  Male 0 Female 0 Total 0 male to female ratio nan
16 Authorship -->  Male 0 Female 0 Total 0 male to female ratio nan
17 Authorship -->  Male 0 Female 0 Total 0 male to female ratio nan
18 Authorship -->  Male 0 Female 0 Total 0 male to female ratio nan
19 Authorship -->  Male 0 Female 0 Total 0 male to female ratio nan
20 Authorship -->  Male 0 Female 0 Total 0 male to female ratio nan
21 Authorship -->  Male 0 Female 0 Total 0 male to female ratio nan

<ipython-input-532-6309ceb0a9c7>:19: RuntimeWarning: invalid value encountered in long_scalars
  femaletomaleratio.append((femaleauthors/maleauthors))
<ipython-input-532-6309ceb0a9c7>:20: RuntimeWarning: invalid value encountered in long_scalars
  femalepercentage.append(round((femaleauthors/Totalauthors)*100, 2))
<ipython-input-532-6309ceb0a9c7>:23: RuntimeWarning: invalid value encountered in long_scalars
  print(str(int(column)+1)+' Authorship -->  Male '+str(maleauthors)+' Female '+str(femaleauthors)+' Total '+str(Totalauthors)+' male to female ratio '+str(femaleauthors/Totalauthors))

22 Authorship -->  Male 0 Female 0 Total 0 male to female ratio nan
23 Authorship -->  Male 0 Female 0 Total 0 male to female ratio nan
24 Authorship -->  Male 0 Female 0 Total 0 male to female ratio nan
25 Authorship -->  Male 0 Female 0 Total 0 male to female ratio nan
26 Authorship -->  Male 0 Female 0 Total 0 male to female ratio nan
27 Authorship -->  Male 0 Female 0 Total 0 male to female ratio nan
28 Authorship -->  Male 0 Female 0 Total 0 male to female ratio nan
29 Authorship -->  Male 0 Female 0 Total 0 male to female ratio nan
30 Authorship -->  Male 0 Female 0 Total 0 male to female ratio nan
31 Authorship -->  Male 0 Female 0 Total 0 male to female ratio nan
32 Authorship -->  Male 0 Female 0 Total 0 male to female ratio nan
33 Authorship -->  Male 0 Female 0 Total 0 male to female ratio nan
34 Authorship -->  Male 0 Female 0 Total 0 male to female ratio nan
35 Authorship -->  Male 0 Female 0 Total 0 male to female ratio nan
36 Authorship -->  Male 0 Female 0 Total 0 male to female ratio nan
37 Authorship -->  Male 0 Female 0 Total 0 male to female ratio nan
38 Authorship -->  Male 0 Female 0 Total 0 male to female ratio nan
39 Authorship -->  Male 0 Female 0 Total 0 male to female ratio nan
40 Authorship -->  Male 0 Female 0 Total 0 male to female ratio nan
41 Authorship -->  Male 0 Female 0 Total 0 male to female ratio nan
42 Authorship -->  Male 0 Female 0 Total 0 male to female ratio nan
43 Authorship -->  Male 0 Female 0 Total 0 male to female ratio nan
44 Authorship -->  Male 0 Female 0 Total 0 male to female ratio nan
45 Authorship -->  Male 0 Female 0 Total 0 male to female ratio nan
46 Authorship -->  Male 0 Female 0 Total 0 male to female ratio nan
47 Authorship -->  Male 0 Female 0 Total 0 male to female ratio nan
48 Authorship -->  Male 0 Female 0 Total 0 male to female ratio nan
49 Authorship -->  Male 0 Female 0 Total 0 male to female ratio nan
50 Authorship -->  Male 0 Female 0 Total 0 male to female ratio nan
51 Authorship -->  Male 0 Female 0 Total 0 male to female ratio nan
52 Authorship -->  Male 0 Female 0 Total 0 male to female ratio nan
53 Authorship -->  Male 0 Female 0 Total 0 male to female ratio nan
54 Authorship -->  Male 0 Female 0 Total 0 male to female ratio nan
55 Authorship -->  Male 0 Female 0 Total 0 male to female ratio nan
56 Authorship -->  Male 0 Female 0 Total 0 male to female ratio nan
57 Authorship -->  Male 0 Female 0 Total 0 male to female ratio nan
58 Authorship -->  Male 0 Female 0 Total 0 male to female ratio nan
59 Authorship -->  Male 0 Female 0 Total 0 male to female ratio nan
60 Authorship -->  Male 0 Female 0 Total 0 male to female ratio nan
61 Authorship -->  Male 0 Female 0 Total 0 male to female ratio nan
62 Authorship -->  Male 0 Female 0 Total 0 male to female ratio nan
63 Authorship -->  Male 0 Female 0 Total 0 male to female ratio nan
64 Authorship -->  Male 0 Female 0 Total 0 male to female ratio nan
65 Authorship -->  Male 0 Female 0 Total 0 male to female ratio nan
66 Authorship -->  Male 0 Female 0 Total 0 male to female ratio nan
67 Authorship -->  Male 0 Female 0 Total 0 male to female ratio nan
68 Authorship -->  Male 0 Female 0 Total 0 male to female ratio nan
69 Authorship -->  Male 0 Female 0 Total 0 male to female ratio nan
70 Authorship -->  Male 0 Female 0 Total 0 male to female ratio nan
71 Authorship -->  Male 0 Female 0 Total 0 male to female ratio nan
72 Authorship -->  Male 0 Female 0 Total 0 male to female ratio nan
73 Authorship -->  Male 0 Female 0 Total 0 male to female ratio nan
74 Authorship -->  Male 0 Female 0 Total 0 male to female ratio nan
75 Authorship -->  Male 0 Female 0 Total 0 male to female ratio nan
76 Authorship -->  Male 0 Female 0 Total 0 male to female ratio nan
77 Authorship -->  Male 0 Female 0 Total 0 male to female ratio nan
78 Authorship -->  Male 0 Female 0 Total 0 male to female ratio nan
79 Authorship -->  Male 0 Female 0 Total 0 male to female ratio nan
80 Authorship -->  Male 0 Female 0 Total 0 male to female ratio nan
81 Authorship -->  Male 0 Female 0 Total 0 male to female ratio nan
82 Authorship -->  Male 0 Female 0 Total 0 male to female ratio nan
83 Authorship -->  Male 0 Female 0 Total 0 male to female ratio nan
84 Authorship -->  Male 0 Female 0 Total 0 male to female ratio nan
85 Authorship -->  Male 0 Female 0 Total 0 male to female ratio nan
86 Authorship -->  Male 0 Female 0 Total 0 male to female ratio nan
87 Authorship -->  Male 0 Female 0 Total 0 male to female ratio nan
88 Authorship -->  Male 0 Female 0 Total 0 male to female ratio nan
89 Authorship -->  Male 0 Female 0 Total 0 male to female ratio nan
90 Authorship -->  Male 0 Female 0 Total 0 male to female ratio nan
91 Authorship -->  Male 0 Female 0 Total 0 male to female ratio nan
92 Authorship -->  Male 0 Female 0 Total 0 male to female ratio nan
93 Authorship -->  Male 0 Female 0 Total 0 male to female ratio nan
94 Authorship -->  Male 0 Female 0 Total 0 male to female ratio nan
95 Authorship -->  Male 0 Female 0 Total 0 male to female ratio nan
96 Authorship -->  Male 0 Female 0 Total 0 male to female ratio nan
97 Authorship -->  Male 0 Female 0 Total 0 male to female ratio nan
98 Authorship -->  Male 0 Female 0 Total 0 male to female ratio nan
99 Authorship -->  Male 0 Female 0 Total 0 male to female ratio nan
100 Authorship -->  Male 0 Female 0 Total 0 male to female ratio nan
101 Authorship -->  Male 0 Female 0 Total 0 male to female ratio nan
102 Authorship -->  Male 0 Female 0 Total 0 male to female ratio nan
103 Authorship -->  Male 0 Female 0 Total 0 male to female ratio nan
104 Authorship -->  Male 0 Female 0 Total 0 male to female ratio nan
105 Authorship -->  Male 0 Female 0 Total 0 male to female ratio nan
106 Authorship -->  Male 0 Female 0 Total 0 male to female ratio nan
107 Authorship -->  Male 0 Female 0 Total 0 male to female ratio nan
108 Authorship -->  Male 0 Female 0 Total 0 male to female ratio nan
109 Authorship -->  Male 0 Female 0 Total 0 male to female ratio nan
110 Authorship -->  Male 0 Female 0 Total 0 male to female ratio nan
111 Authorship -->  Male 0 Female 0 Total 0 male to female ratio nan
112 Authorship -->  Male 0 Female 0 Total 0 male to female ratio nan
113 Authorship -->  Male 0 Female 0 Total 0 male to female ratio nan
114 Authorship -->  Male 0 Female 0 Total 0 male to female ratio nan
115 Authorship -->  Male 0 Female 0 Total 0 male to female ratio nan
116 Authorship -->  Male 0 Female 0 Total 0 male to female ratio nan
117 Authorship -->  Male 0 Female 0 Total 0 male to female ratio nan
118 Authorship -->  Male 0 Female 0 Total 0 male to female ratio nan
119 Authorship -->  Male 0 Female 0 Total 0 male to female ratio nan
120 Authorship -->  Male 0 Female 0 Total 0 male to female ratio nan
121 Authorship -->  Male 0 Female 0 Total 0 male to female ratio nan
122 Authorship -->  Male 0 Female 0 Total 0 male to female ratio nan
123 Authorship -->  Male 0 Female 0 Total 0 male to female ratio nan
124 Authorship -->  Male 0 Female 0 Total 0 male to female ratio nan
125 Authorship -->  Male 0 Female 0 Total 0 male to female ratio nan
126 Authorship -->  Male 0 Female 0 Total 0 male to female ratio nan
127 Authorship -->  Male 0 Female 0 Total 0 male to female ratio nan
128 Authorship -->  Male 0 Female 0 Total 0 male to female ratio nan
129 Authorship -->  Male 0 Female 0 Total 0 male to female ratio nan
130 Authorship -->  Male 0 Female 0 Total 0 male to female ratio nan
131 Authorship -->  Male 0 Female 0 Total 0 male to female ratio nan
132 Authorship -->  Male 0 Female 0 Total 0 male to female ratio nan
133 Authorship -->  Male 0 Female 0 Total 0 male to female ratio nan
134 Authorship -->  Male 0 Female 0 Total 0 male to female ratio nan
135 Authorship -->  Male 0 Female 0 Total 0 male to female ratio nan
136 Authorship -->  Male 0 Female 0 Total 0 male to female ratio nan
137 Authorship -->  Male 0 Female 0 Total 0 male to female ratio nan
138 Authorship -->  Male 0 Female 0 Total 0 male to female ratio nan
139 Authorship -->  Male 0 Female 0 Total 0 male to female ratio nan
140 Authorship -->  Male 0 Female 0 Total 0 male to female ratio nan
141 Authorship -->  Male 0 Female 0 Total 0 male to female ratio nan
142 Authorship -->  Male 0 Female 0 Total 0 male to female ratio nan
143 Authorship -->  Male 0 Female 0 Total 0 male to female ratio nan
144 Authorship -->  Male 0 Female 0 Total 0 male to female ratio nan
145 Authorship -->  Male 0 Female 0 Total 0 male to female ratio nan
146 Authorship -->  Male 0 Female 0 Total 0 male to female ratio nan

147 Authorship -->  Male 0 Female 0 Total 0 male to female ratio nan
148 Authorship -->  Male 0 Female 0 Total 0 male to female ratio nan
149 Authorship -->  Male 0 Female 0 Total 0 male to female ratio nan
150 Authorship -->  Male 0 Female 0 Total 0 male to female ratio nan
151 Authorship -->  Male 0 Female 0 Total 0 male to female ratio nan
152 Authorship -->  Male 0 Female 0 Total 0 male to female ratio nan
153 Authorship -->  Male 0 Female 0 Total 0 male to female ratio nan
154 Authorship -->  Male 0 Female 0 Total 0 male to female ratio nan
155 Authorship -->  Male 0 Female 0 Total 0 male to female ratio nan
156 Authorship -->  Male 0 Female 0 Total 0 male to female ratio nan
157 Authorship -->  Male 0 Female 0 Total 0 male to female ratio nan
158 Authorship -->  Male 0 Female 0 Total 0 male to female ratio nan
159 Authorship -->  Male 0 Female 0 Total 0 male to female ratio nan
160 Authorship -->  Male 0 Female 0 Total 0 male to female ratio nan
161 Authorship -->  Male 0 Female 0 Total 0 male to female ratio nan
162 Authorship -->  Male 0 Female 0 Total 0 male to female ratio nan
163 Authorship -->  Male 0 Female 0 Total 0 male to female ratio nan
164 Authorship -->  Male 0 Female 0 Total 0 male to female ratio nan
165 Authorship -->  Male 0 Female 0 Total 0 male to female ratio nan
166 Authorship -->  Male 0 Female 0 Total 0 male to female ratio nan
167 Authorship -->  Male 0 Female 0 Total 0 male to female ratio nan
168 Authorship -->  Male 0 Female 0 Total 0 male to female ratio nan
169 Authorship -->  Male 0 Female 0 Total 0 male to female ratio nan
170 Authorship -->  Male 0 Female 0 Total 0 male to female ratio nan
171 Authorship -->  Male 0 Female 0 Total 0 male to female ratio nan
172 Authorship -->  Male 0 Female 0 Total 0 male to female ratio nan
173 Authorship -->  Male 0 Female 0 Total 0 male to female ratio nan
174 Authorship -->  Male 0 Female 0 Total 0 male to female ratio nan
175 Authorship -->  Male 0 Female 0 Total 0 male to female ratio nan
176 Authorship -->  Male 0 Female 0 Total 0 male to female ratio nan
177 Authorship -->  Male 0 Female 0 Total 0 male to female ratio nan
178 Authorship -->  Male 0 Female 0 Total 0 male to female ratio nan
179 Authorship -->  Male 0 Female 0 Total 0 male to female ratio nan
180 Authorship -->  Male 0 Female 0 Total 0 male to female ratio nan
181 Authorship -->  Male 0 Female 0 Total 0 male to female ratio nan
182 Authorship -->  Male 0 Female 0 Total 0 male to female ratio nan
183 Authorship -->  Male 0 Female 0 Total 0 male to female ratio nan
184 Authorship -->  Male 0 Female 0 Total 0 male to female ratio nan
185 Authorship -->  Male 0 Female 0 Total 0 male to female ratio nan
186 Authorship -->  Male 0 Female 0 Total 0 male to female ratio nan
187 Authorship -->  Male 0 Female 0 Total 0 male to female ratio nan
188 Authorship -->  Male 0 Female 0 Total 0 male to female ratio nan
189 Authorship -->  Male 0 Female 0 Total 0 male to female ratio nan
190 Authorship -->  Male 0 Female 0 Total 0 male to female ratio nan
191 Authorship -->  Male 0 Female 0 Total 0 male to female ratio nan
192 Authorship -->  Male 0 Female 0 Total 0 male to female ratio nan
193 Authorship -->  Male 0 Female 0 Total 0 male to female ratio nan
194 Authorship -->  Male 0 Female 0 Total 0 male to female ratio nan
195 Authorship -->  Male 0 Female 0 Total 0 male to female ratio nan
196 Authorship -->  Male 0 Female 0 Total 0 male to female ratio nan

In [556]:


maleauthors=df_dummy['LastAuthor'].loc[df_dummy['LastAuthor']=='male|Punjab'].count()
femaleauthors=df_dummy['LastAuthor'].loc[df_dummy['LastAuthor']=='female|Punjab'].count()
Totalauthors=maleauthors+femaleauthors
print(str(int(column)+1)+' Authorship -->  Male '+str(maleauthors)+' Female '+str(femaleauthors)+' Total '+str(Totalauthors)+' male to female ratio '+str(femaleauthors/Totalauthors))

196 Authorship -->  Male 3704 Female 1335 Total 5039 male to female ratio 0.2649335185552689

In [661]:
df_name_university2 = df_name_university.replace('None|', np.nan)

In [37]:
df_name_country['Subject']=final_df['Subject']

In [565]:
df_name_country=pd.read_csv('df_name_country.csv')

In [566]:
zz=df_name_country.replace( {r"[a-zA-Z] *" }, inplace= True, regex = True)

In [38]:
df_name_country.to_csv('df_name_country.csv')

In [135]:
df_decade.to_csv('overall_result_subject_category_based.csv')
df_decade=pd.DataFrame()

decade=1950
while decade<2021:
    


    df_dummy=df_name_country.loc[(df_name_country['pub_year']>decade) & (df_name_country['pub_year']<(decade+100))]
    
    print('Publication decade '+str(int(decade))+'  ')
    
#     df_dummy=df_name_country.loc[df_name_country['pub_year']==x]
    df_dummy1=df_dummy
    df_dummy = df_dummy[df_dummy.columns[0:3]]
    for column in df_dummy:
        if int(column)<10:
            maleauthorscount=[]
            totalauthorscount=[]
            femaleauthorscount=[]
            femaletomaleratio=[]
            femalepercentage=[]
            Subject=[]

            maleauthors=df_dummy[column].loc[df_dummy[column]=='male|Pakistan'].count()
            femaleauthors=df_dummy[column].loc[df_dummy[column]=='female|Pakistan'].count()
            Totalauthors=maleauthors+femaleauthors
            maleauthorscount.append(maleauthors)
            femaleauthorscount.append(femaleauthors)
            femaletomaleratio.append(femaleauthors/maleauthors)
            femalepercentage.append(femaleauthors/Totalauthors)
            print(str(int(column)+1)+' Authorship -->  Male '+str(maleauthors)+' Female '+str(femaleauthors)+' Total '+str(Totalauthors)+' male to female ratio '+str(femaleauthors/maleauthors))
            maleauthorscount1=[]
            Subject_papers_count=[]
            femaleauthorscount1=[]
            femaletomaleratio1=[]
            femalepercentage1=[]
            maleauthorscount2=[]
            femaleauthorscount2=[]
            femaletomaleratio2=[]
            femalepercentage2=[]
            maleauthorscount3=[]
            femaleauthorscount3=[]
            femaletomaleratio3=[]
            femalepercentage3=[]
            decadelist=[]
            for x in df_dummy1['Subject'].unique():
                Subject.append(x)
                decadelist.append(str(decade)+'-'+str((decade+10)))
  
                print(str(x)+' count is '+str(df_dummy1['Subject'].loc[df_dummy1['Subject'].str.contains(x)].count()))
                Subject_papers_count.append(df_dummy1['Subject'].loc[df_dummy1['Subject'].str.contains(x)].count())
                
                df_dummy=df_dummy1.loc[df_dummy1['Subject'].str.contains(x)]
                df_dummy = df_dummy[df_dummy.columns[0:3]]
                for column in df_dummy:
                    if int(column)<10:
                        if int(column)==0:

                            maleauthors=df_dummy[column].loc[df_dummy[column]=='male|Pakistan'].count()
                            femaleauthors=df_dummy[column].loc[df_dummy[column]=='female|Pakistan'].count()
                            Totalauthors=maleauthors+femaleauthors
                            maleauthorscount1.append(maleauthors)
                            femaleauthorscount1.append(femaleauthors)
                            femaletomaleratio1.append(femaleauthors/maleauthors)
                            femalepercentage1.append(round((femaleauthors/Totalauthors)*100, 2))
                        if int(column)==1:

                            maleauthors=df_dummy[column].loc[df_dummy[column]=='male|Pakistan'].count()
                            femaleauthors=df_dummy[column].loc[df_dummy[column]=='female|Pakistan'].count()
                            Totalauthors=maleauthors+femaleauthors
                            maleauthorscount2.append(maleauthors)
                            femaleauthorscount2.append(femaleauthors)
                            femaletomaleratio2.append(femaleauthors/maleauthors)
                            femalepercentage2.append(round((femaleauthors/Totalauthors)*100, 2))
                        if int(column)==2:

                            maleauthors=df_dummy[column].loc[df_dummy[column]=='male|Pakistan'].count()
                            femaleauthors=df_dummy[column].loc[df_dummy[column]=='female|Pakistan'].count()
                            Totalauthors=maleauthors+femaleauthors
                            maleauthorscount3.append(maleauthors)
                            femaleauthorscount3.append(femaleauthors)
                            femaletomaleratio3.append(femaleauthors/maleauthors)
                            femalepercentage3.append(round((femaleauthors/Totalauthors)*100, 2))

                        print(str(int(column)+1)+' Authorship -->  Male '+str(maleauthors)+' Female '+str(femaleauthors)+' Total '+str(Totalauthors)+' male to female ratio '+str(((femaleauthors/maleauthors)*100)))
            
        df_decade['Subject']=Subject
        df_decade['# of papers']=Subject_papers_count
        df_decade[str(decade)+'Male (1)']=maleauthorscount1
        df_decade[str(decade)+'female1 (1)']=femaleauthorscount1
        df_decade[str(decade)+'Proportion1 (1)']=femalepercentage1
        df_decade[str(decade)+'Male (2)']=maleauthorscount2
        df_decade[str(decade)+'female (2)']=femaleauthorscount2
        df_decade[str(decade)+'Proportion (2)']=femalepercentage2
        df_decade[str(decade)+'Male (3)']=maleauthorscount3
        df_decade[str(decade)+'female (3)']=femaleauthorscount3
        df_decade[str(decade)+'Proportion (3)']=femalepercentage3
#         df_decade.to_csv('decade_2020'+str(decade)+'.csv')
            
            

    decade=decade+100

In [505]:
decade=1950
while decade<2021:
    


    df_dummy=df_name_country.loc[(df_name_country['pub_year']>decade) & (df_name_country['pub_year']<(2020))]
    
    print('Publication decade '+str(int(decade))+'  ')
    
#     df_dummy=df_name_country.loc[df_name_country['pub_year']==x]
    df_dummy1=df_dummy
    df_dummy = df_dummy[df_dummy.columns[0:3]]
    for column in df_dummy:
        if int(column)<10:
            maleauthorscount=[]
            totalauthorscount=[]
            femaleauthorscount=[]
            femaletomaleratio=[]
            femalepercentage=[]
            Subject=[]

            maleauthors=df_dummy[column].loc[df_dummy[column]=='male|Pakistan'].count()
            femaleauthors=df_dummy[column].loc[df_dummy[column]=='female|Pakistan'].count()
            Totalauthors=maleauthors+femaleauthors
            maleauthorscount.append(maleauthors)
            femaleauthorscount.append(femaleauthors)
            femaletomaleratio.append(femaleauthors/maleauthors)
            femalepercentage.append(femaleauthors/Totalauthors)
            print(str(int(column)+1)+' Authorship -->  Male '+str(maleauthors)+' Female '+str(femaleauthors)+' Total '+str(Totalauthors)+' male to female ratio '+str(femaleauthors/maleauthors))
            df_decade=pd.DataFrame()
            maleauthorscount1=[]
            femaleauthorscount1=[]
            femaletomaleratio1=[]
            femalepercentage1=[]
            maleauthorscount2=[]
            femaleauthorscount2=[]
            femaletomaleratio2=[]
            femalepercentage2=[]
            maleauthorscount3=[]
            femaleauthorscount3=[]
            femaletomaleratio3=[]
            femalepercentage3=[]
            decadelist=[]
            for x in df_dummy1['Subject'].unique():
                Subject.append(x)
                decadelist.append(str(decade)+'-'+str((decade+10)))
  
                print(str(x)+' count is '+str(df_dummy1['Subject'].loc[df_dummy1['Subject'].str.contains(x)].count()))
                
                df_dummy=df_dummy1.loc[df_dummy1['Subject'].str.contains(x)]
                df_dummy = df_dummy[df_dummy.columns[0:3]]
                for column in df_dummy:
                    if int(column)<10:
                        if int(column)==0:

                            maleauthors=df_dummy[column].loc[df_dummy[column]=='male|Pakistan'].count()
                            femaleauthors=df_dummy[column].loc[df_dummy[column]=='female|Pakistan'].count()
                            Totalauthors=maleauthors+femaleauthors
                            maleauthorscount1.append(maleauthors)
                            femaleauthorscount1.append(femaleauthors)
                            femaletomaleratio1.append(femaleauthors/maleauthors)
                            femalepercentage1.append((femaleauthors/Totalauthors)*100)
                        if int(column)==1:

                            maleauthors=df_dummy[column].loc[df_dummy[column]=='male|Pakistan'].count()
                            femaleauthors=df_dummy[column].loc[df_dummy[column]=='female|Pakistan'].count()
                            Totalauthors=maleauthors+femaleauthors
                            maleauthorscount2.append(maleauthors)
                            femaleauthorscount2.append(femaleauthors)
                            femaletomaleratio2.append(femaleauthors/maleauthors)
                            femalepercentage2.append((femaleauthors/Totalauthors)*100)
                        if int(column)==2:

                            maleauthors=df_dummy[column].loc[df_dummy[column]=='male|Pakistan'].count()
                            femaleauthors=df_dummy[column].loc[df_dummy[column]=='female|Pakistan'].count()
                            Totalauthors=maleauthors+femaleauthors
                            maleauthorscount3.append(maleauthors)
                            femaleauthorscount3.append(femaleauthors)
                            femaletomaleratio3.append(femaleauthors/maleauthors)
                            femalepercentage3.append((femaleauthors/Totalauthors)*100)

                        print(str(int(column)+1)+' Authorship -->  Male '+str(maleauthors)+' Female '+str(femaleauthors)+' Total '+str(Totalauthors)+' male to female ratio '+str(((femaleauthors/maleauthors)*100)))
            
            df_decade['Subject']=Subject
            df_decade['Male (1)']=maleauthorscount1
            df_decade['female1 (1)']=femaleauthorscount1
            df_decade['Proportion1 (1)']=femalepercentage1
            df_decade['Male (2)']=maleauthorscount2
            df_decade['female (2)']=femaleauthorscount2
            df_decade['Proportion (2)']=femalepercentage2
            df_decade['Male (3)']=maleauthorscount3
            df_decade['female (3)']=femaleauthorscount3
            df_decade['Proportion (3)']=femalepercentage3
            df_decade.to_csv('decade_2020'+str(decade)+'.csv')
            
            

    decade=decade+100

Publication decade 1950
1 Authorship -->  Male 113110 Female 25359 Total 138469 male to female ratio 0.22419768367076298
AGRI count is 28230
1 Authorship -->  Male 18155 Female 3992 Total 22147 male to female ratio 21.988432938584413
2 Authorship -->  Male 11008 Female 2396 Total 13404 male to female ratio 21.765988372093023
3 Authorship -->  Male 4949 Female 1034 Total 5983 male to female ratio 20.89310971913518
CHEM count is 12696
1 Authorship -->  Male 7981 Female 1713 Total 9694 male to female ratio 21.46347575491793
2 Authorship -->  Male 4589 Female 1001 Total 5590 male to female ratio 21.813031161473088
3 Authorship -->  Male 2090 Female 435 Total 2525 male to female ratio 20.813397129186605
IMMU count is 2068
1 Authorship -->  Male 1155 Female 244 Total 1399 male to female ratio 21.125541125541126
2 Authorship -->  Male 749 Female 145 Total 894 male to female ratio 19.359145527369826
3 Authorship -->  Male 397 Female 72 Total 469 male to female ratio 18.1360201511335
MEDI count is 36899
1 Authorship -->  Male 25567 Female 5708 Total 31275 male to female ratio 22.325654163570228
2 Authorship -->  Male 11568 Female 2610 Total 14178 male to female ratio 22.562240663900415
3 Authorship -->  Male 5265 Female 1051 Total 6316 male to female ratio 19.96201329534663
DENT count is 347
1 Authorship -->  Male 171 Female 48 Total 219 male to female ratio 28.07017543859649
2 Authorship -->  Male 119 Female 26 Total 145 male to female ratio 21.84873949579832
3 Authorship -->  Male 64 Female 14 Total 78 male to female ratio 21.875
MATH count is 5700
1 Authorship -->  Male 3178 Female 693 Total 3871 male to female ratio 21.80616740088106
2 Authorship -->  Male 1570 Female 311 Total 1881 male to female ratio 19.80891719745223
3 Authorship -->  Male 556 Female 119 Total 675 male to female ratio 21.402877697841728
ENGI count is 13232
1 Authorship -->  Male 7769 Female 1723 Total 9492 male to female ratio 22.177886471875404
2 Authorship -->  Male 3850 Female 857 Total 4707 male to female ratio 22.25974025974026
3 Authorship -->  Male 1437 Female 278 Total 1715 male to female ratio 19.345859429366737
ARTS count is 1602
1 Authorship -->  Male 1007 Female 262 Total 1269 male to female ratio 26.01787487586892
2 Authorship -->  Male 399 Female 92 Total 491 male to female ratio 23.05764411027569
3 Authorship -->  Male 129 Female 22 Total 151 male to female ratio 17.05426356589147
COMP count is 22119
1 Authorship -->  Male 13656 Female 3119 Total 16775 male to female ratio 22.839777387229056
2 Authorship -->  Male 6402 Female 1312 Total 7714 male to female ratio 20.49359575132771
3 Authorship -->  Male 2105 Female 454 Total 2559 male to female ratio 21.567695961995252
BIOC count is 11875
1 Authorship -->  Male 6437 Female 1473 Total 7910 male to female ratio 22.883330744135467
2 Authorship -->  Male 4129 Female 914 Total 5043 male to female ratio 22.1361104383628
3 Authorship -->  Male 2077 Female 424 Total 2501 male to female ratio 20.414058738565238
VETE count is 809
1 Authorship -->  Male 568 Female 120 Total 688 male to female ratio 21.12676056338028
2 Authorship -->  Male 424 Female 78 Total 502 male to female ratio 18.39622641509434
3 Authorship -->  Male 211 Female 38 Total 249 male to female ratio 18.009478672985782
PHYS count is 6690
1 Authorship -->  Male 3949 Female 973 Total 4922 male to female ratio 24.63914915168397
2 Authorship -->  Male 1864 Female 412 Total 2276 male to female ratio 22.103004291845494
3 Authorship -->  Male 745 Female 132 Total 877 male to female ratio 17.71812080536913
ENER count is 3540
1 Authorship -->  Male 1864 Female 429 Total 2293 male to female ratio 23.015021459227466
2 Authorship -->  Male 1154 Female 217 Total 1371 male to female ratio 18.80415944540728
3 Authorship -->  Male 434 Female 80 Total 514 male to female ratio 18.433179723502306
PHAR count is 4316
1 Authorship -->  Male 3025 Female 675 Total 3700 male to female ratio 22.31404958677686
2 Authorship -->  Male 1997 Female 460 Total 2457 male to female ratio 23.034551827741613
3 Authorship -->  Male 1060 Female 204 Total 1264 male to female ratio 19.245283018867926
MATE count is 3241
1 Authorship -->  Male 1863 Female 413 Total 2276 male to female ratio 22.168545356951157
2 Authorship -->  Male 1149 Female 248 Total 1397 male to female ratio 21.583986074847694
3 Authorship -->  Male 522 Female 107 Total 629 male to female ratio 20.49808429118774
CENG count is 5805
1 Authorship -->  Male 3025 Female 714 Total 3739 male to female ratio 23.60330578512397
2 Authorship -->  Male 1920 Female 417 Total 2337 male to female ratio 21.71875
3 Authorship -->  Male 862 Female 194 Total 1056 male to female ratio 22.505800464037122
EART count is 3652
1 Authorship -->  Male 1909 Female 425 Total 2334 male to female ratio 22.262964903090623
2 Authorship -->  Male 1047 Female 209 Total 1256 male to female ratio 19.961795606494746
3 Authorship -->  Male 455 Female 95 Total 550 male to female ratio 20.87912087912088
ENVI count is 3838
1 Authorship -->  Male 2051 Female 432 Total 2483 male to female ratio 21.062896148220382
2 Authorship -->  Male 1376 Female 314 Total 1690 male to female ratio 22.819767441860463
3 Authorship -->  Male 671 Female 149 Total 820 male to female ratio 22.205663189269746
BUSI count is 3949
1 Authorship -->  Male 2268 Female 553 Total 2821 male to female ratio 24.382716049382715
2 Authorship -->  Male 1163 Female 241 Total 1404 male to female ratio 20.72226999140155
3 Authorship -->  Male 431 Female 104 Total 535 male to female ratio 24.129930394431554
SOCI count is 3391
1 Authorship -->  Male 2404 Female 522 Total 2926 male to female ratio 21.713810316139767
2 Authorship -->  Male 835 Female 148 Total 983 male to female ratio 17.724550898203592
3 Authorship -->  Male 225 Female 52 Total 277 male to female ratio 23.11111111111111
ECON count is 1411
1 Authorship -->  Male 790 Female 180 Total 970 male to female ratio 22.78481012658228
2 Authorship -->  Male 400 Female 85 Total 485 male to female ratio 21.25
3 Authorship -->  Male 139 Female 31 Total 170 male to female ratio 22.302158273381295
MULT count is 3532
1 Authorship -->  Male 2272 Female 498 Total 2770 male to female ratio 21.919014084507044
2 Authorship -->  Male 1117 Female 235 Total 1352 male to female ratio 21.038495971351836
3 Authorship -->  Male 398 Female 79 Total 477 male to female ratio 19.849246231155778
DECI count is 574
1 Authorship -->  Male 359 Female 72 Total 431 male to female ratio 20.055710306406684
2 Authorship -->  Male 186 Female 32 Total 218 male to female ratio 17.20430107526882
3 Authorship -->  Male 54 Female 24 Total 78 male to female ratio 44.44444444444444
HEAL count is 487
1 Authorship -->  Male 281 Female 52 Total 333 male to female ratio 18.505338078291814
2 Authorship -->  Male 183 Female 30 Total 213 male to female ratio 16.39344262295082
3 Authorship -->  Male 91 Female 13 Total 104 male to female ratio 14.285714285714285
NURS count is 1207
1 Authorship -->  Male 901 Female 212 Total 1113 male to female ratio 23.52941176470588
2 Authorship -->  Male 227 Female 60 Total 287 male to female ratio 26.431718061674008
3 Authorship -->  Male 71 Female 19 Total 90 male to female ratio 26.76056338028169
PSYC count is 511
1 Authorship -->  Male 312 Female 71 Total 383 male to female ratio 22.756410256410255
2 Authorship -->  Male 130 Female 24 Total 154 male to female ratio 18.461538461538463
3 Authorship -->  Male 36 Female 13 Total 49 male to female ratio 36.11111111111111
undefined count is 110
1 Authorship -->  Male 79 Female 20 Total 99 male to female ratio 25.31645569620253
2 Authorship -->  Male 37 Female 9 Total 46 male to female ratio 24.324324324324326
3 Authorship -->  Male 11 Female 3 Total 14 male to female ratio 27.27272727272727
NEUR count is 258
1 Authorship -->  Male 114 Female 23 Total 137 male to female ratio 20.175438596491226
2 Authorship -->  Male 77 Female 13 Total 90 male to female ratio 16.883116883116884
3 Authorship -->  Male 39 Female 6 Total 45 male to female ratio 15.384615384615385
2 Authorship -->  Male 77 Female 13 Total 90 male to female ratio 0.16883116883116883
AGRI count is 28230
1 Authorship -->  Male 18155 Female 3992 Total 22147 male to female ratio 21.988432938584413
2 Authorship -->  Male 11008 Female 2396 Total 13404 male to female ratio 21.765988372093023
3 Authorship -->  Male 4949 Female 1034 Total 5983 male to female ratio 20.89310971913518
CHEM count is 12696

1 Authorship -->  Male 7981 Female 1713 Total 9694 male to female ratio 21.46347575491793
2 Authorship -->  Male 4589 Female 1001 Total 5590 male to female ratio 21.813031161473088
3 Authorship -->  Male 2090 Female 435 Total 2525 male to female ratio 20.813397129186605
IMMU count is 2068
1 Authorship -->  Male 1155 Female 244 Total 1399 male to female ratio 21.125541125541126
2 Authorship -->  Male 749 Female 145 Total 894 male to female ratio 19.359145527369826
3 Authorship -->  Male 397 Female 72 Total 469 male to female ratio 18.1360201511335
MEDI count is 36899
1 Authorship -->  Male 25567 Female 5708 Total 31275 male to female ratio 22.325654163570228
2 Authorship -->  Male 11568 Female 2610 Total 14178 male to female ratio 22.562240663900415
3 Authorship -->  Male 5265 Female 1051 Total 6316 male to female ratio 19.96201329534663
DENT count is 347
1 Authorship -->  Male 171 Female 48 Total 219 male to female ratio 28.07017543859649
2 Authorship -->  Male 119 Female 26 Total 145 male to female ratio 21.84873949579832
3 Authorship -->  Male 64 Female 14 Total 78 male to female ratio 21.875
MATH count is 5700
1 Authorship -->  Male 3178 Female 693 Total 3871 male to female ratio 21.80616740088106
2 Authorship -->  Male 1570 Female 311 Total 1881 male to female ratio 19.80891719745223
3 Authorship -->  Male 556 Female 119 Total 675 male to female ratio 21.402877697841728
ENGI count is 13232
1 Authorship -->  Male 7769 Female 1723 Total 9492 male to female ratio 22.177886471875404
2 Authorship -->  Male 3850 Female 857 Total 4707 male to female ratio 22.25974025974026
3 Authorship -->  Male 1437 Female 278 Total 1715 male to female ratio 19.345859429366737
ARTS count is 1602
1 Authorship -->  Male 1007 Female 262 Total 1269 male to female ratio 26.01787487586892
2 Authorship -->  Male 399 Female 92 Total 491 male to female ratio 23.05764411027569
3 Authorship -->  Male 129 Female 22 Total 151 male to female ratio 17.05426356589147
COMP count is 22119
1 Authorship -->  Male 13656 Female 3119 Total 16775 male to female ratio 22.839777387229056
2 Authorship -->  Male 6402 Female 1312 Total 7714 male to female ratio 20.49359575132771
3 Authorship -->  Male 2105 Female 454 Total 2559 male to female ratio 21.567695961995252
BIOC count is 11875
1 Authorship -->  Male 6437 Female 1473 Total 7910 male to female ratio 22.883330744135467
2 Authorship -->  Male 4129 Female 914 Total 5043 male to female ratio 22.1361104383628
3 Authorship -->  Male 2077 Female 424 Total 2501 male to female ratio 20.414058738565238
VETE count is 809
1 Authorship -->  Male 568 Female 120 Total 688 male to female ratio 21.12676056338028
2 Authorship -->  Male 424 Female 78 Total 502 male to female ratio 18.39622641509434
3 Authorship -->  Male 211 Female 38 Total 249 male to female ratio 18.009478672985782
PHYS count is 6690
1 Authorship -->  Male 3949 Female 973 Total 4922 male to female ratio 24.63914915168397
2 Authorship -->  Male 1864 Female 412 Total 2276 male to female ratio 22.103004291845494
3 Authorship -->  Male 745 Female 132 Total 877 male to female ratio 17.71812080536913
ENER count is 3540
1 Authorship -->  Male 1864 Female 429 Total 2293 male to female ratio 23.015021459227466
2 Authorship -->  Male 1154 Female 217 Total 1371 male to female ratio 18.80415944540728
3 Authorship -->  Male 434 Female 80 Total 514 male to female ratio 18.433179723502306
PHAR count is 4316
1 Authorship -->  Male 3025 Female 675 Total 3700 male to female ratio 22.31404958677686
2 Authorship -->  Male 1997 Female 460 Total 2457 male to female ratio 23.034551827741613
3 Authorship -->  Male 1060 Female 204 Total 1264 male to female ratio 19.245283018867926
MATE count is 3241
1 Authorship -->  Male 1863 Female 413 Total 2276 male to female ratio 22.168545356951157
2 Authorship -->  Male 1149 Female 248 Total 1397 male to female ratio 21.583986074847694
3 Authorship -->  Male 522 Female 107 Total 629 male to female ratio 20.49808429118774
CENG count is 5805
1 Authorship -->  Male 3025 Female 714 Total 3739 male to female ratio 23.60330578512397
2 Authorship -->  Male 1920 Female 417 Total 2337 male to female ratio 21.71875
3 Authorship -->  Male 862 Female 194 Total 1056 male to female ratio 22.505800464037122
EART count is 3652
1 Authorship -->  Male 1909 Female 425 Total 2334 male to female ratio 22.262964903090623
2 Authorship -->  Male 1047 Female 209 Total 1256 male to female ratio 19.961795606494746
3 Authorship -->  Male 455 Female 95 Total 550 male to female ratio 20.87912087912088
ENVI count is 3838
1 Authorship -->  Male 2051 Female 432 Total 2483 male to female ratio 21.062896148220382
2 Authorship -->  Male 1376 Female 314 Total 1690 male to female ratio 22.819767441860463
3 Authorship -->  Male 671 Female 149 Total 820 male to female ratio 22.205663189269746
BUSI count is 3949
1 Authorship -->  Male 2268 Female 553 Total 2821 male to female ratio 24.382716049382715
2 Authorship -->  Male 1163 Female 241 Total 1404 male to female ratio 20.72226999140155
3 Authorship -->  Male 431 Female 104 Total 535 male to female ratio 24.129930394431554
SOCI count is 3391
1 Authorship -->  Male 2404 Female 522 Total 2926 male to female ratio 21.713810316139767
2 Authorship -->  Male 835 Female 148 Total 983 male to female ratio 17.724550898203592
3 Authorship -->  Male 225 Female 52 Total 277 male to female ratio 23.11111111111111
ECON count is 1411
1 Authorship -->  Male 790 Female 180 Total 970 male to female ratio 22.78481012658228
2 Authorship -->  Male 400 Female 85 Total 485 male to female ratio 21.25
3 Authorship -->  Male 139 Female 31 Total 170 male to female ratio 22.302158273381295
MULT count is 3532
1 Authorship -->  Male 2272 Female 498 Total 2770 male to female ratio 21.919014084507044
2 Authorship -->  Male 1117 Female 235 Total 1352 male to female ratio 21.038495971351836
3 Authorship -->  Male 398 Female 79 Total 477 male to female ratio 19.849246231155778
DECI count is 574
1 Authorship -->  Male 359 Female 72 Total 431 male to female ratio 20.055710306406684
2 Authorship -->  Male 186 Female 32 Total 218 male to female ratio 17.20430107526882
3 Authorship -->  Male 54 Female 24 Total 78 male to female ratio 44.44444444444444
HEAL count is 487
1 Authorship -->  Male 281 Female 52 Total 333 male to female ratio 18.505338078291814
2 Authorship -->  Male 183 Female 30 Total 213 male to female ratio 16.39344262295082
3 Authorship -->  Male 91 Female 13 Total 104 male to female ratio 14.285714285714285
NURS count is 1207
1 Authorship -->  Male 901 Female 212 Total 1113 male to female ratio 23.52941176470588
2 Authorship -->  Male 227 Female 60 Total 287 male to female ratio 26.431718061674008
3 Authorship -->  Male 71 Female 19 Total 90 male to female ratio 26.76056338028169
PSYC count is 511
1 Authorship -->  Male 312 Female 71 Total 383 male to female ratio 22.756410256410255
2 Authorship -->  Male 130 Female 24 Total 154 male to female ratio 18.461538461538463
3 Authorship -->  Male 36 Female 13 Total 49 male to female ratio 36.11111111111111
undefined count is 110
1 Authorship -->  Male 79 Female 20 Total 99 male to female ratio 25.31645569620253
2 Authorship -->  Male 37 Female 9 Total 46 male to female ratio 24.324324324324326
3 Authorship -->  Male 11 Female 3 Total 14 male to female ratio 27.27272727272727
NEUR count is 258
1 Authorship -->  Male 114 Female 23 Total 137 male to female ratio 20.175438596491226
2 Authorship -->  Male 77 Female 13 Total 90 male to female ratio 16.883116883116884
3 Authorship -->  Male 39 Female 6 Total 45 male to female ratio 15.384615384615385
3 Authorship -->  Male 39 Female 6 Total 45 male to female ratio 0.15384615384615385
AGRI count is 28230
1 Authorship -->  Male 18155 Female 3992 Total 22147 male to female ratio 21.988432938584413
2 Authorship -->  Male 11008 Female 2396 Total 13404 male to female ratio 21.765988372093023
3 Authorship -->  Male 4949 Female 1034 Total 5983 male to female ratio 20.89310971913518
CHEM count is 12696
1 Authorship -->  Male 7981 Female 1713 Total 9694 male to female ratio 21.46347575491793
2 Authorship -->  Male 4589 Female 1001 Total 5590 male to female ratio 21.813031161473088
3 Authorship -->  Male 2090 Female 435 Total 2525 male to female ratio 20.813397129186605
IMMU count is 2068

1 Authorship -->  Male 1155 Female 244 Total 1399 male to female ratio 21.125541125541126
2 Authorship -->  Male 749 Female 145 Total 894 male to female ratio 19.359145527369826
3 Authorship -->  Male 397 Female 72 Total 469 male to female ratio 18.1360201511335
MEDI count is 36899
1 Authorship -->  Male 25567 Female 5708 Total 31275 male to female ratio 22.325654163570228
2 Authorship -->  Male 11568 Female 2610 Total 14178 male to female ratio 22.562240663900415
3 Authorship -->  Male 5265 Female 1051 Total 6316 male to female ratio 19.96201329534663
DENT count is 347
1 Authorship -->  Male 171 Female 48 Total 219 male to female ratio 28.07017543859649
2 Authorship -->  Male 119 Female 26 Total 145 male to female ratio 21.84873949579832
3 Authorship -->  Male 64 Female 14 Total 78 male to female ratio 21.875
MATH count is 5700
1 Authorship -->  Male 3178 Female 693 Total 3871 male to female ratio 21.80616740088106
2 Authorship -->  Male 1570 Female 311 Total 1881 male to female ratio 19.80891719745223
3 Authorship -->  Male 556 Female 119 Total 675 male to female ratio 21.402877697841728
ENGI count is 13232
1 Authorship -->  Male 7769 Female 1723 Total 9492 male to female ratio 22.177886471875404
2 Authorship -->  Male 3850 Female 857 Total 4707 male to female ratio 22.25974025974026
3 Authorship -->  Male 1437 Female 278 Total 1715 male to female ratio 19.345859429366737
ARTS count is 1602
1 Authorship -->  Male 1007 Female 262 Total 1269 male to female ratio 26.01787487586892
2 Authorship -->  Male 399 Female 92 Total 491 male to female ratio 23.05764411027569
3 Authorship -->  Male 129 Female 22 Total 151 male to female ratio 17.05426356589147
COMP count is 22119
1 Authorship -->  Male 13656 Female 3119 Total 16775 male to female ratio 22.839777387229056
2 Authorship -->  Male 6402 Female 1312 Total 7714 male to female ratio 20.49359575132771
3 Authorship -->  Male 2105 Female 454 Total 2559 male to female ratio 21.567695961995252
BIOC count is 11875
1 Authorship -->  Male 6437 Female 1473 Total 7910 male to female ratio 22.883330744135467
2 Authorship -->  Male 4129 Female 914 Total 5043 male to female ratio 22.1361104383628
3 Authorship -->  Male 2077 Female 424 Total 2501 male to female ratio 20.414058738565238
VETE count is 809
1 Authorship -->  Male 568 Female 120 Total 688 male to female ratio 21.12676056338028
2 Authorship -->  Male 424 Female 78 Total 502 male to female ratio 18.39622641509434
3 Authorship -->  Male 211 Female 38 Total 249 male to female ratio 18.009478672985782
PHYS count is 6690
1 Authorship -->  Male 3949 Female 973 Total 4922 male to female ratio 24.63914915168397
2 Authorship -->  Male 1864 Female 412 Total 2276 male to female ratio 22.103004291845494
3 Authorship -->  Male 745 Female 132 Total 877 male to female ratio 17.71812080536913
ENER count is 3540
1 Authorship -->  Male 1864 Female 429 Total 2293 male to female ratio 23.015021459227466
2 Authorship -->  Male 1154 Female 217 Total 1371 male to female ratio 18.80415944540728
3 Authorship -->  Male 434 Female 80 Total 514 male to female ratio 18.433179723502306
PHAR count is 4316
1 Authorship -->  Male 3025 Female 675 Total 3700 male to female ratio 22.31404958677686
2 Authorship -->  Male 1997 Female 460 Total 2457 male to female ratio 23.034551827741613
3 Authorship -->  Male 1060 Female 204 Total 1264 male to female ratio 19.245283018867926
MATE count is 3241
1 Authorship -->  Male 1863 Female 413 Total 2276 male to female ratio 22.168545356951157
2 Authorship -->  Male 1149 Female 248 Total 1397 male to female ratio 21.583986074847694
3 Authorship -->  Male 522 Female 107 Total 629 male to female ratio 20.49808429118774
CENG count is 5805
1 Authorship -->  Male 3025 Female 714 Total 3739 male to female ratio 23.60330578512397
2 Authorship -->  Male 1920 Female 417 Total 2337 male to female ratio 21.71875
3 Authorship -->  Male 862 Female 194 Total 1056 male to female ratio 22.505800464037122
EART count is 3652
1 Authorship -->  Male 1909 Female 425 Total 2334 male to female ratio 22.262964903090623
2 Authorship -->  Male 1047 Female 209 Total 1256 male to female ratio 19.961795606494746
3 Authorship -->  Male 455 Female 95 Total 550 male to female ratio 20.87912087912088
ENVI count is 3838
1 Authorship -->  Male 2051 Female 432 Total 2483 male to female ratio 21.062896148220382
2 Authorship -->  Male 1376 Female 314 Total 1690 male to female ratio 22.819767441860463
3 Authorship -->  Male 671 Female 149 Total 820 male to female ratio 22.205663189269746
BUSI count is 3949
1 Authorship -->  Male 2268 Female 553 Total 2821 male to female ratio 24.382716049382715
2 Authorship -->  Male 1163 Female 241 Total 1404 male to female ratio 20.72226999140155
3 Authorship -->  Male 431 Female 104 Total 535 male to female ratio 24.129930394431554
SOCI count is 3391
1 Authorship -->  Male 2404 Female 522 Total 2926 male to female ratio 21.713810316139767
2 Authorship -->  Male 835 Female 148 Total 983 male to female ratio 17.724550898203592
3 Authorship -->  Male 225 Female 52 Total 277 male to female ratio 23.11111111111111
ECON count is 1411
1 Authorship -->  Male 790 Female 180 Total 970 male to female ratio 22.78481012658228
2 Authorship -->  Male 400 Female 85 Total 485 male to female ratio 21.25
3 Authorship -->  Male 139 Female 31 Total 170 male to female ratio 22.302158273381295
MULT count is 3532
1 Authorship -->  Male 2272 Female 498 Total 2770 male to female ratio 21.919014084507044
2 Authorship -->  Male 1117 Female 235 Total 1352 male to female ratio 21.038495971351836
3 Authorship -->  Male 398 Female 79 Total 477 male to female ratio 19.849246231155778
DECI count is 574
1 Authorship -->  Male 359 Female 72 Total 431 male to female ratio 20.055710306406684
2 Authorship -->  Male 186 Female 32 Total 218 male to female ratio 17.20430107526882
3 Authorship -->  Male 54 Female 24 Total 78 male to female ratio 44.44444444444444
HEAL count is 487
1 Authorship -->  Male 281 Female 52 Total 333 male to female ratio 18.505338078291814
2 Authorship -->  Male 183 Female 30 Total 213 male to female ratio 16.39344262295082
3 Authorship -->  Male 91 Female 13 Total 104 male to female ratio 14.285714285714285
NURS count is 1207
1 Authorship -->  Male 901 Female 212 Total 1113 male to female ratio 23.52941176470588
2 Authorship -->  Male 227 Female 60 Total 287 male to female ratio 26.431718061674008
3 Authorship -->  Male 71 Female 19 Total 90 male to female ratio 26.76056338028169
PSYC count is 511
1 Authorship -->  Male 312 Female 71 Total 383 male to female ratio 22.756410256410255
2 Authorship -->  Male 130 Female 24 Total 154 male to female ratio 18.461538461538463
3 Authorship -->  Male 36 Female 13 Total 49 male to female ratio 36.11111111111111
undefined count is 110
1 Authorship -->  Male 79 Female 20 Total 99 male to female ratio 25.31645569620253
2 Authorship -->  Male 37 Female 9 Total 46 male to female ratio 24.324324324324326
3 Authorship -->  Male 11 Female 3 Total 14 male to female ratio 27.27272727272727
NEUR count is 258
1 Authorship -->  Male 114 Female 23 Total 137 male to female ratio 20.175438596491226
2 Authorship -->  Male 77 Female 13 Total 90 male to female ratio 16.883116883116884
3 Authorship -->  Male 39 Female 6 Total 45 male to female ratio 15.384615384615385

PermissionError: [Errno 13] Permission denied: 'decade_20201950.csv'

In [25]:
df_authorhsippattern=pd.DataFrame()

In [31]:
df_dummy=df_name_country
df_dummy.loc[df_dummy['n_Au']==int(3)]

,0,1,2,3,4,5,6,7,8,9,...,189,190,191,192,193,194,195,196,Subject,n_Au
5,female|Pakistan,male,female,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,CHEM,3
6,female|Pakistan,male|Pakistan,male|Pakistan,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,MEDI,3
8,male|Pakistan,female,male,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,AGRI,3
19,male|Pakistan,male,male,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,COMP,3
24,male|Pakistan,male|Italy,male,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,PHYS,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
205606,male|Pakistan,male|Pakistan,male,female,male,male,None,None,None,None,...,None,None,None,None,None,None,None,None,COMP,3
205609,male|Pakistan,female,None,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,MEDI,3
205619,male|Pakistan,male,None,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,CHEM,3
205623,male|Pakistan,male|Pakistan,None,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,SOCI,3
205630,female|Pakistan,male,female,male,male,male,None,None,None,None,...,None,None,None,None,None,None,None,None,CHEM,3

In [42]:
df_dummy.loc[:, ~df_dummy.columns.isin(['Subject', 'n_Au'])]

,0,1,2,3,4,5,6,7,8,9,...,187,188,189,190,191,192,193,194,195,196
0,male|Pakistan,male,female,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
18,male|Pakistan,male,female,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
23,male|Pakistan,male|Pakistan,female,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
25,male|Pakistan,male,female,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
34,male|Pakistan,female|Pakistan,female,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
205611,male|Turkey,male,male,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
205617,male|Pakistan,male,male,male,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
205618,male|Pakistan,female,None,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
205620,male|Pakistan,male|Pakistan,male,male,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
205629,male|United Kingdom,male|Pakistan,male,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None

In [72]:
femalepercentage1=[]
femalepercentage2=[]
Authorship_Pattern=[]
publication_count=[]
df_authorhsippattern=pd.DataFrame()
df_dummy1=df_name_country
for authors in df_name_country['n_Au'].unique():
    if int(authors)<=12:
        
        femalepercentage1=[]
        maleauthors=0
        femaleauthors=0
        Totalauthors=0
        df_dummy=df_name_country.loc[df_name_country['n_Au']==int(authors)]
        df_dummy=df_dummy.loc[:, ~df_dummy.columns.isin(['Subject', 'n_Au'])]
        publication_count.append(len(df_dummy))
        for column in df_dummy[0:int(authors)]:

            if int(column)<authors:
                maleauthors=maleauthors+df_dummy[column].loc[df_dummy[column]=='male|Pakistan'].count()
                femaleauthors=femaleauthors+df_dummy[column].loc[df_dummy[column]=='female|Pakistan'].count()
                Totalauthors=maleauthors+femaleauthors
        femalepercentage1.append(round((femaleauthors/Totalauthors)*100,2))
        Authorship_Pattern.append(int(authors))
        femalepercentage2.append(round((femaleauthors/Totalauthors)*100,2))
        print('authors'+ str(authors) + 'female proportion'+ str(round((femaleauthors/Totalauthors)*100,2)))

authors2female proportion19.47
authors4female proportion19.46
authors8female proportion19.07
authors6female proportion19.66
authors3female proportion19.53
authors5female proportion19.53
authors1female proportion18.9
authors7female proportion19.54
authors9female proportion18.22
authors10female proportion19.33
authors11female proportion18.11
authors12female proportion22.12

In [74]:
df_authorhsippattern['Authorship Pattern']=Authorship_Pattern
df_authorhsippattern['Female Proportion (%)']=femalepercentage2
df_authorhsippattern['# of publications']=publication_count

In [70]:
df_authorhsippattern=pd.read_csv('Authorship_Pattern.csv')

In [76]:
df_authorhsippattern.to_csv('Authorship_Pattern_publication.csv')

In [42]:
decade=0
df_dummy2=df_name_country
maleauthorscount=[]
totalauthorscount=[]
femaleauthorscount=[]
femaletomaleratio=[]
femalepercentage=[]
Subject=[]
Subject1=[]
maleauthorscount1=[]
femaleauthorscount1=[]
femaletomaleratio1=[]
femalepercentage1=[]
maleauthorscount2=[]
femaleauthorscount2=[]
femaletomaleratio2=[]
femalepercentage2=[]
maleauthorscount3=[]
femaleauthorscount3=[]
femaletomaleratio3=[]
femalepercentage3=[]
publicationyear=[]
decadelist=[]
for x in df_dummy2['Subject'].unique():
    Subject.append(x)
    df_dummy1=df_dummy2.loc[df_dummy2['Subject'].str.contains(x)]
    
    for y in df_dummy1['pub_year'].unique():
        Subject1.append(x)
        publicationyear.append(y)
        df_dummy=df_dummy1.loc[df_dummy1['pub_year']==y]
        df_dummy = df_dummy[df_dummy.columns[0:2]]
        maleauthors=0
        femaleauthors=0
        Totalauthors=0
        for column in df_dummy:
            if int(column)<2:
                maleauthors=maleauthors+df_dummy[column].loc[df_dummy[column]=='male|Pakistan'].count()
                femaleauthors=femaleauthors+df_dummy[column].loc[df_dummy[column]=='female|Pakistan'].count()
                Totalauthors=Totalauthors+maleauthors+femaleauthors
        
        femalepercentage1.append(round((femaleauthors/Totalauthors)*100,2))




# df_decade['Subject']=Subject
# df_decade['Male (1)']=maleauthorscount1
# df_decade['female1 (1)']=femaleauthorscount1
# df_decade['Proportion1 (1)']=femalepercentage1
# df_decade['Male (2)']=maleauthorscount2
# df_decade['female (2)']=femaleauthorscount2
# df_decade['Proportion (2)']=femalepercentage2
# df_decade['Male (3)']=maleauthorscount3
# df_decade['female (3)']=femaleauthorscount3
# df_decade['Proportion (3)']=femalepercentage3
# df_decade.to_csv('decade_2020'+str(decade)+'.csv')



decade=decade+100

<ipython-input-42-45e25419b92f>:42: RuntimeWarning: invalid value encountered in long_scalars
  femalepercentage1.append(round((femaleauthors/Totalauthors)*100,2))

In [40]:
df_name_country['pub_year']=final_df['pub_year']

In [43]:
dff=pd.DataFrame()

In [44]:
dff['Subject']=Subject1
dff['Year']=publicationyear
dff['Proportion (%)']=femalepercentage1

In [52]:
dff.to_csv('yearbased_subjectwise_genderlandscape.csv')

In [106]:
ajsr=ajsr.set_index('asjc_code')

In [111]:
final_df.ASJC_str

0                                  [1107]
1                        [1600,2500,3104]
2                        [1100,1300,1710]
3                        [1600,2500,3104]
4                             [2405,2725]
                       ...
205627                   [2208,2500,3104]
205628    [1303,1503,1604,1605,1606,3002]
205629                             [2205]
205630                             [1600]
205631              [1702,1712,2604,2614]
Name: ASJC_str, Length: 205632, dtype: object

In [103]:
ajsr.rename(columns={'asjc_description1':'asjc_description'}, inplace=True)

In [151]:
print(z.loc[z['indexx']==1100]['asjc_description'].values[0])

General Agricultural and Biological Sciences

In [171]:
len(final_df['ASJC'])

205632

In [50]:
dff=dff.loc[dff['Year']>1947]

In [64]:
agri=dff.loc[dff['Subject']=='AGRI'].loc[dff['Year']>1947]

In [65]:
agri=agri.set_index('Year')

In [66]:
agri=agri.sort_index()

In [67]:
agri.rename(columns={'Proportion':'Proportion (%)'}, inplace=True)

In [176]:
len(final_df['Subject_Name'].unique())

306

In [177]:
len(final_df['Subject'].unique())

28

In [509]:
df_decade.nlargest(5,'Male (1)')

,Subject,Male (1),female1 (1),Proportion1 (1),Male (2),female (2),Proportion (2),Male (3),female (3),Proportion (3)
3,MEDI,25567,5708,18.250999,11568,2610,18.408802,5265,1051,16.640279
0,AGRI,18155,3992,18.025015,11008,2396,17.875261,4949,1034,17.282300
8,COMP,13656,3119,18.593145,6402,1312,17.008037,2105,454,17.741305
1,CHEM,7981,1713,17.670724,4589,1001,17.906977,2090,435,17.227723
6,ENGI,7769,1723,18.152128,3850,857,18.206926,1437,278,16.209913

In [391]:
df_name_country['0'].str.endswith('female').sum()

1682

In [ ]:
# for x in df_name_country['Subject'].unique():
  
#     print(str(x)+' count is '+str(df_name_country['Subject'].loc[df_name_country['Subject'].str.contains(x)].count()))
#     maleauthorscount=[]
#     femaleauthorscount=[]
#     femaletomaleratio=[]
#     femalepercentage=[]
#     df_dummy=df_name_country.loc[df_name_country['Subject'].str.contains(x)]
#     df_dummy = df_dummy[df_dummy.columns[0:3]]
#     for column in df_dummy:
#         if int(column)<10:

#             maleauthors=df_dummy[column].loc[df_dummy[column]=='male|Pakistan'].count()
#             femaleauthors=df_dummy[column].loc[df_dummy[column]=='female|Pakistan'].count()
#             Totalauthors=maleauthors+femaleauthors
#             maleauthorscount.append(maleauthors)
#             femaleauthorscount.append(femaleauthors)
#             femaletomaleratio.append(femaleauthors/maleauthors)
#             femalepercentage.append(femaleauthors/Totalauthors)

#             print(str(int(column)+1)+' Authorship -->  Male '+str(maleauthors)+' Female '+str(femaleauthors)+' Total '+str(Totalauthors)+' male to female ratio '+str(femaleauthors/maleauthors))

In [ ]:
objs = [MyClass() for i in range(100)]
for obj in objs:
    other_object.add(obj)

objs[0]

In [ ]:
quoted = re.compile("(?<=')[^']+(?=')")

City=2
Country=3
University=6

countrieslist=[]
universitylist=[]
citylist=[]
for x in data.Au_str.values:
    print(len(re.findall('\(([^)]+)', x)))
    str1=''
    i=[]
    for c in re.findall('\(([^)]+)', x):
       
        if(c is not None):
#             print(c)
            if(len(c.split(','))>6):
#                 quoted.findall(l[0].split('=')[6])[2]
                ll=quoted.findall(str(c.split('=')[1]))
                print(ll)
                if len(ll)>0:
                    i.append(ll[len(ll)-1])
                    print(i)
#                 else:
#                     for value in quoted.findall(str(c.split(',')[City-1])):
#     #                     str1=str1+value+','
#     #                     print(str1)
#                         i.append(value)
#                         print(i)
    my_string = ','.join(i)
    universitylist.append(str(my_string))

In [ ]:
import re
quoted = re.compile("(?<=')[^']+(?=')")

Authorswithfullname=[]
Authorswithfirstlastname=[]
citylist=[]
count=0
for x in data.Au_str.values:
#     print(len(re.findall('\(([^)]+)', x)))
    str1=''
    fullnamelist=[]
    fistlastlist=[]
    count=count+1
    print(count)
    for c in re.findall('\(([^)]+)', x):
        if len(c.split(", "))>2:
            authors = dict(item.split("=") for item in c.split(", "))
            if authors['given_name'] != None:
                Firstname=quoted.findall(authors['given_name'])

            else:
                if authors['given_name_pn'] != None:
                    Firstname=quoted.findall(authors['given_name'])
                else:
                    Firstname=[' ']
            if "surname" in authors:
                if authors['surname'] != None:
                    Lastname=quoted.findall(authors['surname'])
            else:
                if "surname_pn" in authors:
                    if authors['surname_pn'] != None:
                        Lastname=quoted.findall(authors['surname_pn'])
                Lastname=' '

    #         if len(Firstname)==0:
    #             Firstname=quoted.findall(authors['given_name_pn'])
    #             if len(Firstname)==0:
    #                 Firstname=quoted.findall(authors['initials_pn'])

            print(Firstname)
            print(Lastname)
            if len(Firstname)==0:
                Fullname=''+' '+str(Lastname)
                first_last=''+'_'+str(Lastname)
                fullnamelist.append(Fullname)
                fistlastlist.append(first_last)
            else:

                Fullname=Firstname[0]+' '+str(Lastname)
                first_last=Firstname[0]+'_'+str(Lastname)
                fullnamelist.append(Fullname)
                fistlastlist.append(first_last)
                   
    fullname_string = ','.join(fullnamelist)
    Authorswithfullname.append(str(fullname_string))
    firstlast_string = ','.join(fistlastlist)
    Authorswithfirstlastname.append(str(firstlast_string))

In [ ]:
import re
quoted = re.compile("(?<=')[^']+(?=')")

Authorswithfullname=[]
Authorswithfirstlastname=[]
citylist=[]
count=0
for x in data.Au_str.values:
#     print(len(re.findall('\(([^)]+)', x)))
    str1=''
    fullnamelist=[]
    fistlastlist=[]
    count=count+1
    print(count)
    for c in re.findall('\(([^)]+)', x):
        if len(c.split(", "))>2:
            authors = dict(item.split("=") for item in c.split(", "))
            if authors['given_name'] != None:
                Firstname=quoted.findall(authors['given_name'])

            else:
                if authors['given_name_pn'] != None:
                    Firstname=quoted.findall(authors['given_name'])
                else:
                    Firstname=[' ']
            if "surname" in authors:
                if authors['surname'] != None:
                    Lastname=quoted.findall(authors['surname'])
            else:
                if "surname_pn" in authors:
                    if authors['surname_pn'] != None:
                        Lastname=quoted.findall(authors['surname_pn'])
                Lastname=' '

    #         if len(Firstname)==0:
    #             Firstname=quoted.findall(authors['given_name_pn'])
    #             if len(Firstname)==0:
    #                 Firstname=quoted.findall(authors['initials_pn'])

            print(Firstname)
            print(Lastname)
            if len(Firstname)==0:
                Fullname=''+' '+str(Lastname)
                first_last=''+'_'+str(Lastname)
                fullnamelist.append(Fullname)
                fistlastlist.append(first_last)
            else:

                Fullname=Firstname[0]+' '+str(Lastname)
                first_last=Firstname[0]+'_'+str(Lastname)
                fullnamelist.append(Fullname)
                fistlastlist.append(first_last)
                   
    fullname_string = ','.join(fullnamelist)
    Authorswithfullname.append(str(fullname_string))
    firstlast_string = ','.join(fistlastlist)
    Authorswithfirstlastname.append(str(firstlast_string))

# Checking affiliations

In [135]:
data.Au_str.values[1]

"[Row(Authorseq=1, auid=17345359600, author_type=None, collaboration=False, degrees=None, e_address=None, e_address_type=None, given_name='Muhammad Nadeem', given_name_pn='Muhammad Nadeem', indexed_name='Arshad M.N.', indexed_name_pn='Arshad M.', initials='M.N.', initials_pn='M.N.', instance_id=None, members=None, nametext=None, orcid=None, suffix=None, surname='Arshad', surname_pn='Arshad'),Row(Authorseq=2, auid=34769679600, author_type=None, collaboration=False, degrees=None, e_address=None, e_address_type=None, given_name='Islam Ullah', given_name_pn='Islam Ullah', indexed_name='Khan I.U.', indexed_name_pn='Khan I.', initials='I.U.', initials_pn='I.U.', instance_id=None, members=None, nametext=None, orcid=None, suffix=None, surname='Khan', surname_pn='Khan'),Row(Authorseq=3, auid=14832237900, author_type=None, collaboration=False, degrees=None, e_address='akkurt@erciyes.edu.tr', e_address_type='email', given_name='Mehmet', given_name_pn='Mehmet', indexed_name='Akkurt M.', indexed_name_pn='Akkurt M.', initials='M.', initials_pn='M.', instance_id=None, members=None, nametext=None, orcid=None, suffix=None, surname='Akkurt', surname_pn='Akkurt'),Row(Authorseq=4, auid=57207486564, author_type=None, collaboration=False, degrees=None, e_address=None, e_address_type=None, given_name='Muhammad', given_name_pn='Muhammad', indexed_name='Shafiq M.', indexed_name_pn='Shafiq M.', initials='M.', initials_pn='M.', instance_id=None, members=None, nametext=None, orcid=None, suffix=None, surname='Shafiq', surname_pn='Shafiq')]"

In [6]:
type(data.Af_str.values[1])

str

In [7]:
x=data.Af_str.values[1]

In [8]:
import re
s = 'Name(something)'
re.search('\(([^)]+)', x).group(0)

"(affiliation_address_part=None, affiliation_city=None, affiliation_city_group='Lahore', affiliation_country='Pakistan', affiliation_ids=[60037950], affiliation_organization=['Department of Chemistry', 'Government College University'], affiliation_organization_count=2, affiliation_postal_code=None, affiliation_state=None, affiliation_tag_country='pak', affiliation_text=None, afid=60037950, dptid=100266843"

In [9]:
re.findall('\(([^)]+)', x)

["affiliation_address_part=None, affiliation_city=None, affiliation_city_group='Lahore', affiliation_country='Pakistan', affiliation_ids=[60037950], affiliation_organization=['Department of Chemistry', 'Government College University'], affiliation_organization_count=2, affiliation_postal_code=None, affiliation_state=None, affiliation_tag_country='pak', affiliation_text=None, afid=60037950, dptid=100266843",
 "affiliation_address_part=None, affiliation_city=None, affiliation_city_group='38039 Kayseri', affiliation_country='Turkey', affiliation_ids=[60003217], affiliation_organization=['Department of Physics', 'Faculty of Arts and Sciences', 'Erciyes University'], affiliation_organization_count=3, affiliation_postal_code=None, affiliation_state=None, affiliation_tag_country='tur', affiliation_text=None, afid=60003217, dptid=103214951"]

In [30]:
data.Af_str.values[2]

"[Row(affiliation_address_part=None, affiliation_city='Hefei', affiliation_city_group=None, affiliation_country='China', affiliation_ids=[60019499, 60089931, 60019118], affiliation_organization=['Molecular and Cell Genetics Laboratory, CAS Key Laboratory of Innate Immunity and Chronic Disease, Hefei National Laboratory for Physical Sciences at Microscale, School of Life Sciences, University of Science and Technology of China'], affiliation_organization_count=1, affiliation_postal_code='230027', affiliation_state=None, affiliation_tag_country='chn', affiliation_text=None, afid=60089931, dptid=113880100),Row(affiliation_address_part=None, affiliation_city='Hefei', affiliation_city_group=None, affiliation_country='China', affiliation_ids=[60014454], affiliation_organization=['Department of Biochemistry and Molecular Biology, School of Basic Medical Sciences, Anhui Medical University'], affiliation_organization_count=1, affiliation_postal_code='230032', affiliation_state=None, affiliation_tag_country='chn', affiliation_text=None, afid=60014454, dptid=112668363),Row(affiliation_address_part=None, affiliation_city='Hefei', affiliation_city_group=None, affiliation_country='China', affiliation_ids=[60073548, 60014454], affiliation_organization=['Center for Reproductive Medicine, Anhui Provincial Hospital Affiliated to Anhui Medical University'], affiliation_organization_count=1, affiliation_postal_code='230001', affiliation_state=None, affiliation_tag_country='chn', affiliation_text=None, afid=60073548, dptid=116339396),Row(affiliation_address_part=None, affiliation_city='Lexington', affiliation_city_group=None, affiliation_country='United States', affiliation_ids=[60015941], affiliation_organization=['Department of Statistics, University of Kentucky'], affiliation_organization_count=1, affiliation_postal_code='40506', affiliation_state='KY', affiliation_tag_country='usa', affiliation_text=None, afid=60015941, dptid=113155495),Row(affiliation_address_part='2005 Songhu Road', affiliation_city='Shanghai', affiliation_city_group=None, affiliation_country='China', affiliation_ids=[60009860], affiliation_organization=['Collaborative Innovation Center of Genetics and Development, Fudan University'], affiliation_organization_count=1, affiliation_postal_code='200438', affiliation_state=None, affiliation_tag_country='chn', affiliation_text=None, afid=60009860, dptid=114401524),Row(affiliation_address_part=None, affiliation_city='Hefei', affiliation_city_group=None, affiliation_country='China', affiliation_ids=[60006354, 60019499], affiliation_organization=['Hefei Institutes of Physical Science, Chinese Academy of Sciences'], affiliation_organization_count=1, affiliation_postal_code='230031', affiliation_state=None, affiliation_tag_country='chn', affiliation_text=None, afid=60006354, dptid=None),Row(affiliation_address_part=None, affiliation_city=None, affiliation_city_group=None, affiliation_country='Pakistan', affiliation_ids=[60034410], affiliation_organization=['Institute of Pure and Applied Biology, Bahauddin Zakariya University Multan'], affiliation_organization_count=1, affiliation_postal_code='60800', affiliation_state=None, affiliation_tag_country='pak', affiliation_text=None, afid=60034410, dptid=104703328)]"

In [53]:
# Python3 code to demonstrate 
# converting comma separated string 
# into dictionary 

# Initialising string 
ini_string1 = 'name = akshat, course = btech, branch = computer'

# Printing initial string 
print ("Initial String", l[1]) 

# Converting string into dictionary 
# using dict comprehension 
res = dict(item.split("=") for item in l[0].split(", ")) 
		
# Printing resultant string 
print ("Resultant dictionary", str(res))

Initial String affiliation_address_part=None, affiliation_city=None, affiliation_city_group='38039 Kayseri', affiliation_country='Turkey', affiliation_ids=[60003217], affiliation_organization=['Department of Physics', 'Faculty of Arts and Sciences', 'Erciyes University'], affiliation_organization_count=3, affiliation_postal_code=None, affiliation_state=None, affiliation_tag_country='tur', affiliation_text=None, afid=60003217, dptid=103214951

ValueError: dictionary update sequence element #6 has length 1; 2 is required

In [84]:
l[0]

"affiliation_address_part=None, affiliation_city=None, affiliation_city_group='Lahore', affiliation_country='Pakistan', affiliation_ids=[60037950], affiliation_organization=['Department of Chemistry', 'Government College University'], affiliation_organization_count=2, affiliation_postal_code=None, affiliation_state=None, affiliation_tag_country='pak', affiliation_text=None, afid=60037950, dptid=100266843"

In [85]:
x=data.Af_str.values[1]

In [86]:
l=re.findall('\(([^)]+)', x)

In [87]:
l[0]

"affiliation_address_part=None, affiliation_city=None, affiliation_city_group='Lahore', affiliation_country='Pakistan', affiliation_ids=[60037950], affiliation_organization=['Department of Chemistry', 'Government College University'], affiliation_organization_count=2, affiliation_postal_code=None, affiliation_state=None, affiliation_tag_country='pak', affiliation_text=None, afid=60037950, dptid=100266843"

In [102]:
xxx=l[0].split('=')[6]

In [101]:
xxx

'D'

In [99]:
quoted.findall(l[0].split('=')[6])[2]

'Government College University'

In [88]:
ll=quoted.findall(str(l[0].split('=')[2]))

In [89]:
len(ll)

0

# Code to extract city, country of author

In [132]:
newdf['Countries']=countrieslist

In [124]:
newdf['universities']=universitylist

In [110]:
newdf['universities']

0                                     University of Karachi
1          Government College University,Erciyes University
2         Molecular and Cell Genetics Laboratory, CAS Ke...
3             University of Sargodha,University of Sargodha
4         Kuwait Teaching Hospital,Defence Housing Autho...
                                ...
207392    NWFP University of Engineering and Technology,...
207393         University of Karachi,Baluchistan University
207394    Structures Department, AMEY,Department of Civi...
207395                              Quaid-i-Azam University
207396    University of the Punjab,Dalhousie University ...
Name: universities, Length: 207397, dtype: object

In [130]:
newdf['Cities']=citylist

In [76]:
newdf['Cities']

0                                      Karachi-75270
1                               Lahore,38039 Kayseri
2         Hefei,Hefei,Hefei,Lexington,Shanghai,Hefei
3                                  Sargodha,Sargodha
4                         Karachi,Islamabad,Peshawar
                             ...
207392                  Peshawar,Islamabad,Islamabad
207393                          Karachi-75270,Quetta
207394
207395                                     Islamabad
207396                                        Lahore
Name: Cities, Length: 207397, dtype: object

In [57]:
newdf['Countries']

0                                                  Pakistan
1                                           Pakistan,Turkey
2         China,China,China,United States,China,China,Pa...
3                                         Pakistan,Pakistan
4                                          Pakistan,Karachi
                                ...
207392                           Pakistan,Pakistan,Pakistan
207393                                    Pakistan,Pakistan
207394                              United Kingdom,Pakistan
207395                                             Pakistan
207396                     Pakistan,Canada,Romania,Pakistan
Name: Countries, Length: 207397, dtype: object

### Issues in extracting uni name. as i am seperating values based on ',' split function. The university name itself has , in it. The problem can be solved but would take time and more complex logic to handle , and [] to seperate university name and department name.

##### After careful evaluation, the university name and department name can be seperated using split function to seperate based on '=' sign. after seperation find using re library values within square brackets '[]'

## Code to extract University Name.

In [122]:
newdf=pd.DataFrame()

In [ ]:
quoted = re.compile("(?<=')[^']+(?=')")

City=2
Country=3
University=6

countrieslist=[]
universitylist=[]
citylist=[]
for x in data.Af_str.values:
    print(len(re.findall('\(([^)]+)', x)))
    str1=''
    i=[]
    for c in re.findall('\(([^)]+)', x):
       
        if(c is not None):
#             print(c)
            if(len(c.split('='))>6):
#                 quoted.findall(l[0].split('=')[6])[2]
                ll=quoted.findall(str(c.split('=')[University]))
                print(ll)
                if len(ll)>0:
                    i.append(ll[len(ll)-1])
                    print(i)
#                 else:
#                     for value in quoted.findall(str(c.split(',')[City-1])):
#     #                     str1=str1+value+','
#     #                     print(str1)
#                         i.append(value)
#                         print(i)
    my_string = ','.join(i)
    universitylist.append(str(my_string))

In [126]:
newdf['Departments']=departmentlist

In [133]:
newdf.to_csv('City_country_university.csv')

In [ ]:
quoted = re.compile("(?<=')[^']+(?=')")

City=2
Country=3
University=5
# newdf=pd.DataFrame()
countrieslist=[]
# universitylist=[]
citylist=[]
for x in data.Af_str.values:
    print(len(re.findall('\(([^)]+)', x)))
    str1=''
    i=[]
    for c in re.findall('\(([^)]+)', x):
       
        if(c is not None):
#             print(c)
            if(len(c.split(','))>3):
                ll=quoted.findall(str(c.split(',')[City]))
                if len(ll)>0:
                                          
                    for value in quoted.findall(str(c.split(',')[City])):
    #                     str1=str1+value+','
    #                     print(str1)
                        i.append(value)
                        print(i)
                else:
                    for value in quoted.findall(str(c.split(',')[City-1])):
    #                     str1=str1+value+','
    #                     print(str1)
                        i.append(value)
                        print(i)
    my_string = ','.join(i)
    citylist.append(str(my_string))

In [ ]:
quoted = re.compile("(?<=')[^']+(?=')")

City=2
Country=3
University=5
# newdf=pd.DataFrame()
countrieslist=[]
# universitylist=[]
# citylist=[]
for x in data.Af_str.values:
    print(len(re.findall('\(([^)]+)', x)))
    str1=''
    i=[]
    for c in re.findall('\(([^)]+)', x):
       
        if(c is not None):
#             print(c)
            if(len(c.split(','))>3):
                ll=quoted.findall(str(c.split(',')[Country]))
                if len(ll)>0:
                                          
                    for value in quoted.findall(str(c.split(',')[Country])):
    #                     str1=str1+value+','
    #                     print(str1)
                        i.append(value)
                        print(i)
#                 else:
#                     for value in quoted.findall(str(c.split(',')[City-1])):
#     #                     str1=str1+value+','
#     #                     print(str1)
#                         i.append(value)
#                         print(i)
    my_string = ','.join(i)
    countrieslist.append(str(my_string))

In [97]:
quoted = re.compile("(?<=')[^']+(?=')")
i=[]
for value in quoted.findall(str(l[0].split(',')[2])):
    i.append(value)
    print(i)

['Lahore']

In [61]:
l[0].split(',')[2]

" affiliation_city_group='Lahore'"

# ScienceDirect score and gender landscape

In [101]:
data['ScienceDirectScore'].loc[data['ScienceDirectScore'].notnull()].count()

31785

In [137]:
df_science_direct_pak=df_testt.loc[df_testt['ScienceDirectScore'].notnull()]

In [140]:
df_dummy=df_science_direct_pak
maleauthorscount=[]
femaleauthorscount=[]
femaletomaleratio=[]
femalepercentage=[]

for column in df_dummy:
    maleauthors=df_dummy[column].loc[df_dummy[column]=='male'].count()
    femaleauthors=df_dummy[column].loc[df_dummy[column]=='female'].count()
    Totalauthors=maleauthors+femaleauthors
    maleauthorscount.append(maleauthors)
    femaleauthorscount.append(femaleauthors)
    femaletomaleratio.append(femaleauthors/maleauthors)
    femalepercentage.append(femaleauthors/Totalauthors)
    
    print(str(column)+'  Male '+str(maleauthors)+' Female '+str(femaleauthors)+' Total '+str(Totalauthors)+' male to female ratio '+str(femaleauthors/maleauthors))

In [143]:
ScienceDirectgenderresults=pd.DataFrame()
ScienceDirectgenderresults['Male Authors']=maleauthorscount
ScienceDirectgenderresults['Female Authors']=femaleauthorscount
ScienceDirectgenderresults['Female2MaleRatio']=femaletomaleratio
ScienceDirectgenderresults['FemaleRatio']=femalepercentage

In [392]:
data.citations_str.values[1]

'[11344284526,242560405,66749104506,53349127494,67649842337,38949126573,142245584,37156344,33748058169,33646767009,141452964,84944438568,34247104529,36587911,37549039510,33745655190,58849161857,49149112109]'

In [394]:
data.subjareas_str

0                        [AGRI]
1              [CHEM,MATE,PHYS]
2              [AGRI,BIOC,COMP]
3              [CHEM,MATE,PHYS]
4                   [IMMU,MEDI]
                  ...
207392         [ENGI,MATE,PHYS]
207393    [BIOC,CENG,CHEM,PHAR]
207394                   [ENGI]
207395                   [CHEM]
207396              [COMP,MATH]
Name: subjareas_str, Length: 207397, dtype: object

In [393]:
data.ASJC_str

0                                  [1107]
1                        [1600,2500,3104]
2                        [1100,1300,1710]
3                        [1600,2500,3104]
4                             [2405,2725]
                       ...
207392                   [2208,2500,3104]
207393    [1303,1503,1604,1605,1606,3002]
207394                             [2205]
207395                             [1600]
207396              [1702,1712,2604,2614]
Name: ASJC_str, Length: 207397, dtype: object

# Grants and gender landscape

In [106]:
data['grant_str'].loc[data['grant_str'].notnull()].count()

18604

In [385]:
data['grant_str'].loc[data['grant_str'].notnull()].values[1]

"[Row(grant_acronym='NSFC', grant_agency='National Natural Science Foundation of China', grant_agency_id='501100001809', grant_id='61376025'),Row(grant_acronym='NSFC', grant_agency='National Natural Science Foundation of China', grant_agency_id='501100001809', grant_id='61774086'),Row(grant_acronym=None, grant_agency='Natural Science Foundation of Jiangsu Province', grant_agency_id='501100004608', grant_id='BK20160806')]"

In [107]:
data['funding_list_str'].loc[data['funding_list_str'].notnull()].count()

43111

In [111]:
data['subjareas_str'].loc[data['subjareas_str'].notnull()].count()

207397

In [114]:
data['subjareas_str'].loc[data['subjareas_str'].str.contains('PHYS')].count()

27102

In [341]:
data['grant_str'].loc[data['grant_str'].notnull()].count()

18604

In [353]:

data.citation_type.unique()

array(['ar', 're', 'ch', 'cp', 'er', 'ed', 'bk', 'le', 'no', 'ip', 'sh',
       'dp', 'tb', 'rp', nan, 'bz', 'cr', 'ab'], dtype=object)

In [357]:
data.n_citations

0         16
1         18
2         38
3         11
4         39
          ..
207392     9
207393    17
207394    14
207395    14
207396    18
Name: n_citations, Length: 207397, dtype: int64

In [382]:
#affiliation based on rows and author number
data.Af_str.values[2]

"[Row(affiliation_address_part=None, affiliation_city='Hefei', affiliation_city_group=None, affiliation_country='China', affiliation_ids=[60019499, 60089931, 60019118], affiliation_organization=['Molecular and Cell Genetics Laboratory, CAS Key Laboratory of Innate Immunity and Chronic Disease, Hefei National Laboratory for Physical Sciences at Microscale, School of Life Sciences, University of Science and Technology of China'], affiliation_organization_count=1, affiliation_postal_code='230027', affiliation_state=None, affiliation_tag_country='chn', affiliation_text=None, afid=60089931, dptid=113880100),Row(affiliation_address_part=None, affiliation_city='Hefei', affiliation_city_group=None, affiliation_country='China', affiliation_ids=[60014454], affiliation_organization=['Department of Biochemistry and Molecular Biology, School of Basic Medical Sciences, Anhui Medical University'], affiliation_organization_count=1, affiliation_postal_code='230032', affiliation_state=None, affiliation_tag_country='chn', affiliation_text=None, afid=60014454, dptid=112668363),Row(affiliation_address_part=None, affiliation_city='Hefei', affiliation_city_group=None, affiliation_country='China', affiliation_ids=[60073548, 60014454], affiliation_organization=['Center for Reproductive Medicine, Anhui Provincial Hospital Affiliated to Anhui Medical University'], affiliation_organization_count=1, affiliation_postal_code='230001', affiliation_state=None, affiliation_tag_country='chn', affiliation_text=None, afid=60073548, dptid=116339396),Row(affiliation_address_part=None, affiliation_city='Lexington', affiliation_city_group=None, affiliation_country='United States', affiliation_ids=[60015941], affiliation_organization=['Department of Statistics, University of Kentucky'], affiliation_organization_count=1, affiliation_postal_code='40506', affiliation_state='KY', affiliation_tag_country='usa', affiliation_text=None, afid=60015941, dptid=113155495),Row(affiliation_address_part='2005 Songhu Road', affiliation_city='Shanghai', affiliation_city_group=None, affiliation_country='China', affiliation_ids=[60009860], affiliation_organization=['Collaborative Innovation Center of Genetics and Development, Fudan University'], affiliation_organization_count=1, affiliation_postal_code='200438', affiliation_state=None, affiliation_tag_country='chn', affiliation_text=None, afid=60009860, dptid=114401524),Row(affiliation_address_part=None, affiliation_city='Hefei', affiliation_city_group=None, affiliation_country='China', affiliation_ids=[60006354, 60019499], affiliation_organization=['Hefei Institutes of Physical Science, Chinese Academy of Sciences'], affiliation_organization_count=1, affiliation_postal_code='230031', affiliation_state=None, affiliation_tag_country='chn', affiliation_text=None, afid=60006354, dptid=None),Row(affiliation_address_part=None, affiliation_city=None, affiliation_city_group=None, affiliation_country='Pakistan', affiliation_ids=[60034410], affiliation_organization=['Institute of Pure and Applied Biology, Bahauddin Zakariya University Multan'], affiliation_organization_count=1, affiliation_postal_code='60800', affiliation_state=None, affiliation_tag_country='pak', affiliation_text=None, afid=60034410, dptid=104703328)]"

In [383]:
data.grant_str.values[]

nan

In [376]:
data.pub_year

0         1997
1         2009
2         2015
3         2010
4         2017
          ...
207392    2020
207393    2004
207394    2015
207395    2000
207396    2015
Name: pub_year, Length: 207397, dtype: int64

In [374]:
data.source_str.values[1]

"[None,None,gbr,None,None,2009,2009,None,None,None,None,None,['16005368'],None,['16005368'],None,Acta Crystallographica Section E: Structure Reports Online,Acta Crystallogr. Sect. E Struct. Rep. Online,144910,j,None]"

In [181]:
df_testt['grant_str'].loc[df_testt['grant_str'].notnull()].count()

6648

In [151]:
#grants wala portion

df_grants=df_testt.loc[df_testt['grant_str'].notnull()]

In [152]:
df_dummy=df_grants

In [173]:
df_dummy['grant_str'].loc[df_dummy['grant_str'].str.contains('USAID')].count()

52

In [179]:
df_dummy['grant_str'].loc[df_dummy['grant_str'].str.contains('CIIT')].count()

84

In [174]:
df_dummy['grant_str'].loc[df_dummy['grant_str'].str.contains('NUST')].count()

148

In [175]:
df_dummy['grant_str'].loc[df_dummy['grant_str'].str.contains('ARS')].count()

22

In [190]:
df_dummy['grant_str'].loc[df_dummy['grant_str'].str.contains('GC')].count()

31

In [178]:
df_dummy['grant_str'].values[0]

"[Row(grant_acronym='CIIT', grant_agency='COMSATS Institute of Information Technology', grant_agency_id=None, grant_id=None),Row(grant_acronym='HEC', grant_agency='Higher Education Commission', grant_agency_id=None, grant_id='072-2111-Ps4-335'),Row(grant_acronym='HEC', grant_agency='Higher Education Commission', grant_agency_id=None, grant_id='17-5-4(Ps4-335)/HEC/Sch/2007'),Row(grant_acronym='HEC', grant_agency='Higher Education Commission', grant_agency_id=None, grant_id='20-1388/R&D/09/2670')]"

In [207]:
l=df_dummy['grant_str'].str.split(",",expand=True)

In [208]:
l[0]= l[0].str.slice(19,)

In [160]:
df_dummy['grant_str'].count()

6648

In [148]:

maleauthorscount=[]
femaleauthorscount=[]
femaletomaleratio=[]
femalepercentage=[]

for column in df_dummy:
    maleauthors=df_dummy[column].loc[df_dummy[column]=='male'].count()
    femaleauthors=df_dummy[column].loc[df_dummy[column]=='female'].count()
    Totalauthors=maleauthors+femaleauthors
    maleauthorscount.append(maleauthors)
    femaleauthorscount.append(femaleauthors)
    femaletomaleratio.append(femaleauthors/maleauthors)
    femalepercentage.append(femaleauthors/Totalauthors)
    
    print(str(column)+'  Male '+str(maleauthors)+' Female '+str(femaleauthors)+' Total '+str(Totalauthors)+' male to female ratio '+str(femaleauthors/maleauthors))

KeyError: "[Row(grant_acronym='CIIT', grant_agency='COMSATS Institute of Information Technology', grant_agency_id=None, grant_id=None),Row(grant_acronym='HEC', grant_agency='Higher Education Commission', grant_agency_id=None, grant_id='072-2111-Ps4-335'),Row(grant_acronym='HEC', grant_agency='Higher Education Commission', grant_agency_id=None, grant_id='17-5-4(Ps4-335)/HEC/Sch/2007'),Row(grant_acronym='HEC', grant_agency='Higher Education Commission', grant_agency_id=None, grant_id='20-1388/R&D/09/2670')]"

# Citations

In [104]:
data['citations_str'].values[1]

'[11344284526,242560405,66749104506,53349127494,67649842337,38949126573,142245584,37156344,33748058169,33646767009,141452964,84944438568,34247104529,36587911,37549039510,33745655190,58849161857,49149112109]'

# Preprocessing data

data['Au_cors_str'].values[3]

In [118]:
#select the columns that would be used the most
df = pd.DataFrame(data, columns = ['correspondence','Au_unique_IN_str', 'subjareas_str','source_str','funding_list_str','funding_list_str','grant_str','ScienceDirectScore'])

In [108]:
#function to get gender information
from __future__ import print_function
import time
import openapi_client
from openapi_client.rest import ApiException
from pprint import pprint
import numpy as np
# Configure API key authorization: api_key
configuration = openapi_client.Configuration()

configuration.api_key['X-API-KEY'] = '417aa2d90dfabcbdad52cac63f2891a8'
# Uncomment below to setup prefix (e.g. Bearer) for API key, if needed
# configuration.api_key_prefix['X-API-KEY'] = 'Bearer'

# create an instance of the API class
api_instance = openapi_client.PersonalApi(openapi_client.ApiClient(configuration))
full_name = 'Furqan Arshad' # str | 

def gender_fullname(full_name):
    try:
        # Infer the likely gender of a full name, ex. John H. Smith
#         api_response = api_instance.gender_full(full_name)
#         gender_full_geo()
        api_response = api_instance.gender_full(full_name)
        

#         pprint(api_response.likely_gender)
    except ApiException as e:
        print("Exception when calling PersonalApi->gender_full: %s\n" % e)
        return 'exception'
    return api_response.likely_gender
    
gender_fullname(full_name)

'male'

In [174]:
from __future__ import print_function
import time
import openapi_client
from openapi_client.rest import ApiException
from pprint import pprint

# Configure API key authorization: api_key
configuration = openapi_client.Configuration()
configuration.api_key['X-API-KEY'] = '417aa2d90dfabcbdad52cac63f2891a8'
# Uncomment below to setup prefix (e.g. Bearer) for API key, if needed
# configuration.api_key_prefix['X-API-KEY'] = 'Bearer'

# create an instance of the API class
api_instance = openapi_client.PersonalApi(openapi_client.ApiClient(configuration))
batch_personal_name_in = openapi_client.BatchPersonalNameIn() # BatchPersonalNameIn | A list of personal names (optional)

try:
    # Infer the likely gender of up to 100 full names, detecting automatically the cultural context.
    api_response = api_instance.gender_full_batch(batch_personal_name_in=batch_personal_name_in)
    pprint(api_response)
except ApiException as e:
    print("Exception when calling PersonalApi->gender_full_batch: %s\n" % e)

In [119]:
#Only Pakistani authors
df_Pak=df[df['correspondence'].str.contains('pak')]

In [120]:
#count number of authors
df_Pak['NumberofAuthors'] = df_Pak['Au_unique_IN_str'].apply(lambda x: len(x.split(',')))

C:\Users\Chisel-Lab\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [122]:
#show top 100 authors by count
df_Pak.nlargest(100, ['NumberofAuthors'])

,correspondence,Au_unique_IN_str,subjareas_str,source_str,funding_list_str,funding_list_str,grant_str,ScienceDirectScore,NumberofAuthors
47396,"[{country=usa}, {country=pak}]","[Abbas S.,Abecasis G.R.,Afzal M.N.,Aguayo S.M....",[BIOC],"[None,None,usa,01,07,1 July 2020,2020,None,Non...","[Row(agency=None, agency_acronym=None, agency_...","[Row(agency=None, agency_acronym=None, agency_...",NaN,NaN,181
24089,[{country=pak}],"[Abbaneo D.,Abbas M.,Abbrescia M.,Abdelalim A....","[MATH,PHYS]","[P02003,None,gbr,02,02,2 February 2017,2017,mi...","[Row(agency=None, agency_acronym=None, agency_...","[Row(agency=None, agency_acronym=None, agency_...",NaN,NaN,155
80484,[{country=pak}],"[Abbrescia M.,Aleksandrov A.,Aly S.,Amoozegar ...","[MATH,PHYS]","[C11012,None,gbr,None,None,2019,2019,helen.cra...",NaN,NaN,NaN,NaN,103
190229,[{country=pak}],"[Abbas S.,Ahmad U.,Alexander M.,Ali S.S.,Attwo...","[BIOC,MEDI]","[None,None,usa,None,08,August 2010,2010,None,N...","[Row(agency='Medical Research Council', agency...","[Row(agency='Medical Research Council', agency...",NaN,NaN,73
141732,[{country=pak}],"[Abbas S.,Ahmad U.,Alam Gul A.,Alexander M.,Al...",[MEDI],"[None,None,usa,None,None,July 2010,2010,None,N...",NaN,NaN,NaN,NaN,59
...,...,...,...,...,...,...,...,...,...
107767,[{country=pak}],"[Ahmad F.,Ahmad W.,Alhaddad B.,Ali G.,Azeem Z....",[MEDI],"[None,None,usa,21,07,21 July 2017,2017,molvis@...","[Row(agency=None, agency_acronym=None, agency_...","[Row(agency=None, agency_acronym=None, agency_...","[Row(grant_acronym='HEC', grant_agency='Higher...",NaN,17
110455,[{country=pak}],"[Ahmad S.,Ahmad Z.,Ahmed A.,Ahmed N.,Ali R.,Ba...","[ENER,PHYS]","[None,None,usa,01,06,1 June 2016,2016,barbara....",NaN,NaN,NaN,NaN,17
110682,[{country=pak}],"[Akbar M.M.,Asif S.,Aslam M.,Atabani A.E.,Bokh...","[BUSI,ENER,ENGI,ENVI]","[118214,None,gbr,10,12,10 December 2019,2019,N...","[Row(agency=None, agency_acronym=None, agency_...","[Row(agency=None, agency_acronym=None, agency_...",NaN,81.0,17
112541,[{country=pak}],"[Abbas S.,Afzal M.I.,Afzal M.S.,Ahmed S.,Aslam...","[AGRI,HEAL,IMMU,SOCI]","[9030311,None,che,None,None,2020,2020,rasetti@...",NaN,NaN,NaN,NaN,17
125120,[{country=pak}],"[Ahmad A.,Awais M.,Fahad S.,Hussain M.,Hussain...",[AGRI],"[None,None,nld,15,05,15 May 2019,2019,None,Non...",[Row(agency='Alabama Commission on Higher Educ...,[Row(agency='Alabama Commission on Higher Educ...,"[Row(grant_acronym='HEC', grant_agency='Higher...",97.0,17

In [121]:
#drop authors greater than 200 to reduce the size of dataframe
df_Pak=df_Pak[df_Pak.NumberofAuthors < 200]

In [123]:
# remove the square brackets
df_Pak['Au_unique_IN_str'] = df_Pak['Au_unique_IN_str'].str.slice(1,-1)

In [124]:
# remove the square brackets
df_Pak['subjareas_str'] = df_Pak['subjareas_str'].str.slice(1,-1)

In [112]:
final_df['ASJC_str']=final_df['ASJC_str'].str.slice(1,-1)

In [33]:
final_df['subjareas_str'] =final_df['subjareas_str'].str.slice(1,-1)

In [113]:
codes=final_df['ASJC_str'].str.split(',', expand=True)

In [34]:
subjects=final_df['subjareas_str'].str.split(',', expand=True)

In [114]:
final_df['ASJC']=codes[0]

In [115]:
final_df['ASJC']

0         1107
1         1600
2         1100
3         1600
4         2405
          ...
205627    2208
205628    1303
205629    2205
205630    1600
205631    1702
Name: ASJC, Length: 205632, dtype: object

In [36]:
final_df['Subject']

0         AGRI
1         CHEM
2         AGRI
3         CHEM
4         IMMU
          ...
205627    ENGI
205628    BIOC
205629    ENGI
205630    CHEM
205631    COMP
Name: Subject, Length: 205632, dtype: object

In [11]:
# code to split by comma
df_Pak_names=df_Pak['Au_unique_IN_str'].str.split(',', expand=True)

In [246]:
# create a new df for gender 
df_Pak_gender = pd.DataFrame()
df_Pak_gender=df_Pak_names
df_testt=df_Pak_names

In [129]:
df_Pak_names['subjareas_str']=df_Pak['subjareas_str']
df_Pak_names['source_str']=df_Pak['source_str']
df_Pak_names['ScienceDirectScore']=df_Pak['ScienceDirectScore']
df_Pak_names['NumberofAuthors']=df_Pak['NumberofAuthors']
df_Pak_names['grant_str']=df_Pak['grant_str']
df_Pak_names['correspondence']=df_Pak['correspondence']

# Female authorship in 1st, 2nd,3rd ... and last

In [323]:
female_authorship_in_order=pd.DataFrame()

In [324]:
female_authorship_in_order['maleauthorscount']=maleauthorscount
female_authorship_in_order['femaleauthorscount']=femaleauthorscount
female_authorship_in_order['femaletomaleratio']=femaletomaleratio
female_authorship_in_order['femalepercentage']=femalepercentage

In [325]:
female_authorship_in_order.head(10)

   maleauthorscount  femaleauthorscount  femaletomaleratio  femalepercentage
0            125257                8928           0.071277          0.066535
1            112857               10138           0.089830          0.082426
2             92301                8959           0.097063          0.088475
3             66895                6450           0.096420          0.087941
4             43178                4474           0.103618          0.093889
5             27137                2813           0.103659          0.093923
6             15589                1686           0.108153          0.097598
7              9431                 997           0.105715          0.095608
8              5400                 606           0.112222          0.100899
9              3110                 343           0.110289          0.099334

In [326]:
female_authorship_in_order.to_csv('female_authorship_in_order.csv')

In [ ]:
maleauthorscount=[]
femaleauthorscount=[]
femaletomaleratio=[]
femalepercentage=[]

for column in df_testt:
    maleauthors=df_testt[column].loc[df_testt[column]=='male'].count()
    femaleauthors=df_testt[column].loc[df_testt[column]=='female'].count()
    Totalauthors=maleauthors+femaleauthors
    maleauthorscount.append(maleauthors)
    femaleauthorscount.append(femaleauthors)
    femaletomaleratio.append(femaleauthors/maleauthors)
    femalepercentage.append(femaleauthors/Totalauthors)
    
    print(str(column)+'  Male '+str(maleauthors)+' Female '+str(femaleauthors)+' Total '+str(Totalauthors)+' male to female ratio '+str(femaleauthors/maleauthors))

In [282]:
x=df_testt['source_str'].loc[df_testt['source_str'].str.contains('2011')]

# Journal/conference wise gender based landscape

In [299]:
#18th column contains general information
df_testt['source_str'].values[9]

"[None,None,pak,None,06,June 2012,2012,None,None,None,None,None,None,None,['1029385X'],None,Medical Forum Monthly,Med. Forum Monthly,79643,j,None]"

In [300]:
general=df_testt['source_str'].str.split(",",expand=True)

In [334]:
df_testt['source_str'].values[1]

"[None,None,gbr,None,11,November 2010,2010,None,None,None,None,None,['16005368'],None,['16005368'],None,Acta Crystallographica Section E: Structure Reports Online,Acta Crystallogr. Sect. E Struct. Rep. Online,144910,j,None]"

In [ ]:
generl_conf=[]
generl_conf_count=[]

df_general_conf=pd.DataFrame()

for x in general[17].unique():
    print('general/conference name  -->'+x+'   '+str(general[17].loc[general[17].str.contains(x)].count()))
    generl_conf.append(x)
    generl_conf_count.append(general[17].loc[general[17].str.contains(x)].count())

In [313]:
df_general_conf['generl_conf']=generl_conf
df_general_conf['generl_conf_count']=generl_conf_count

In [331]:
df_general_conf['generl_conf_count'].sum()

111275

In [327]:
df_general_conf.nlargest(20, ['generl_conf_count']).to_csv('top20generals.csv')

In [70]:
genderresults = pd.DataFrame()

In [139]:
genderresults

     Male Authors  Female Authors  Female2MaleRatio  FemaleRatio
0          125257            8928          0.071277     0.066535
1          112857           10138          0.089830     0.082426
2           92301            8959          0.097063     0.088475
3           66895            6450          0.096420     0.087941
4           43178            4474          0.103618     0.093889
..            ...             ...               ...          ...
176             1               0          0.000000     0.000000
177             0               1               inf     1.000000
178             1               0          0.000000     0.000000
179             1               0          0.000000     0.000000
180             1               0          0.000000     0.000000

[181 rows x 4 columns]

In [74]:
df_testt['MaleCount'] = df_testt.apply(lambda x: x.str.contains('male'), axis=1).sum(axis=1)

In [76]:
df_testt['FemaleCount'] = df_testt.apply(lambda x: x.str.contains('female'), axis=1).sum(axis=1)

In [86]:
df_testt['MaleCount'].sum()

551915.0

In [87]:
df_testt['FemaleCount'].sum()

45936.0

In [88]:
df_testt['FemaleCount'].sum()/df_testt['MaleCount'].sum()

0.08323020755007565

In [83]:
df_testt['FemaletoMale percentage']= (df_testt['FemaleCount'] /df_testt['MaleCount'])*100

In [320]:
df_testt['FemaletoMale percentage'].head(10)

0      0.000000
3      0.000000
4     16.666667
5     33.333333
6      0.000000
7      0.000000
8      0.000000
11    25.000000
14     0.000000
15    25.000000
Name: FemaletoMale percentage, dtype: float64

# Discipline based landscape

In [132]:
df_testt['SubjectAreacount'] = df_testt['subjareas_str'].apply(lambda x: len(x.split(',')))

In [240]:
df_testt['SubjectAreacount'].loc[df_testt['SubjectAreacount']==1].count()

84540

In [248]:
df_subject_one=df_testt['subjareas_str']=df_testt.loc[df_testt['SubjectAreacount']==1]

In [255]:
df_subject_one.loc[df_subject_one['subjareas_str'].str.contains(x)]

,0,1,2,3,4,5,6,7,8,9,...,FemaleCount,FemaletoMaleratio,FemaletoMale percentage,subjareas_str,source_str,ScienceDirectScore,NumberofAuthors,grant_str,correspondence,SubjectAreacount
0,male,male,None,None,None,None,None,None,None,None,...,0.0,0.0,0.0,AGRI,"[None,None,mys,None,06,June 1997,1997,None,Non...",NaN,2,NaN,[{country=pak}],1
8,male,male,male,None,None,None,None,None,None,None,...,0.0,0.0,0.0,AGRI,"[None,None,pak,None,None,2012,2012,None,None,N...",NaN,3,NaN,[{country=pak}],1
14,male,male,male,male,None,None,None,None,None,None,...,0.0,0.0,0.0,AGRI,"[None,None,pak,None,06,June 2008,2008,None,Non...",NaN,4,NaN,[{country=pak}],1
18,male,male,None,None,None,None,None,None,None,None,...,0.0,0.0,0.0,AGRI,"[None,None,pak,None,10,October 2012,2012,None,...",NaN,2,NaN,[{country=pak}],1
40,male,male,male,female,None,None,None,None,None,None,...,1.0,25.0,25.0,AGRI,"[None,None,pak,None,02,February 2014,2014,None...",NaN,4,NaN,[{country=pak}],1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
207314,male,None,None,None,None,None,None,None,None,None,...,0.0,0.0,0.0,AGRI,"[None,None,nld,None,None,1996,1996,None,None,N...",NaN,1,NaN,[{country=pak}],1
207348,male,female,male,male,None,None,None,None,None,None,...,1.0,25.0,25.0,AGRI,"[None,None,pak,01,04,April 2018,2018,None,None...",NaN,4,NaN,[{country=pak}],1
207354,male,male,None,None,None,None,None,None,None,None,...,0.0,0.0,0.0,AGRI,"[None,None,pak,01,10,1 October 2007,2007,None,...",NaN,2,NaN,[{country=pak}],1
207359,male,male,None,None,None,None,None,None,None,None,...,0.0,0.0,0.0,AGRI,"[None,None,pak,None,12,December 2008,2008,None...",NaN,2,NaN,[{country=pak}],1
207386,male,male,male,male,None,None,None,None,None,None,...,0.0,0.0,0.0,AGRI,"[None,None,pak,None,06,June 2007,2007,None,Non...",NaN,4,NaN,[{country=pak}],1

In [ ]:
for x in df_subject_one['subjareas_str'].unique():
    print(str(x)+' count is '+str(df_subject_one['subjareas_str'].loc[df_subject_one['subjareas_str'].str.contains(x)].count()))
    maleauthorscount=[]
    femaleauthorscount=[]
    femaletomaleratio=[]
    femalepercentage=[]
    df_dummy=df_subject_one.loc[df_subject_one['subjareas_str'].str.contains(x)]
    df_dummy = df_dummy[df_dummy.columns[0:3]]
    for column in df_dummy:
        if column<10:

            maleauthors=df_dummy[column].loc[df_dummy[column]=='male'].count()
            femaleauthors=df_dummy[column].loc[df_dummy[column]=='female'].count()
            Totalauthors=maleauthors+femaleauthors
            maleauthorscount.append(maleauthors)
            femaleauthorscount.append(femaleauthors)
            femaletomaleratio.append(femaleauthors/maleauthors)
            femalepercentage.append(femaleauthors/Totalauthors)

            print(str(column+1)+' Authorship -->  Male '+str(maleauthors)+' Female '+str(femaleauthors)+' Total '+str(Totalauthors)+' male to female ratio '+str(femaleauthors/maleauthors))

In [268]:
newdf = df_dummy[df_dummy.columns[0:10]]

In [71]:
genderresults['Male Authors']=maleauthorscount
genderresults['Female Authors']=femaleauthorscount
genderresults['Female2MaleRatio']=femaletomaleratio
genderresults['FemaleRatio']=femalepercentage