In [1]:
# used to open large csv files as I have low ram
import sys
import csv
maxInt = sys.maxsize
while True:
    # decrease the maxInt value by factor 10 
    # as long as the OverflowError occurs.

    try:
        csv.field_size_limit(maxInt)
        break
    except OverflowError:
        maxInt = int(maxInt/10)

In [2]:
#open the csv file
import pandas as pd
data=pd.read_csv("export.csv", engine='python')

In [4]:
#select the columns that would be used the most
df = pd.DataFrame(data, columns = ['correspondence','Au_unique_IN_str', 'subjareas_str','source_str','funding_list_str','funding_list_str','grant_str','ScienceDirectScore'])

In [ ]:
#function to get gender information
from __future__ import print_function
import time
import openapi_client
from openapi_client.rest import ApiException
from pprint import pprint
import numpy as np
# Configure API key authorization: api_key
configuration = openapi_client.Configuration()

configuration.api_key['X-API-KEY'] = '417aa2d90dfabcbdad52cac63f2891a8'
# Uncomment below to setup prefix (e.g. Bearer) for API key, if needed
# configuration.api_key_prefix['X-API-KEY'] = 'Bearer'

# create an instance of the API class
api_instance = openapi_client.PersonalApi(openapi_client.ApiClient(configuration))
full_name = 'Furqan Arshad' # str | 
# gender_fullname(full_name)

def gender_fullname(full_name):
    try:
        # Infer the likely gender of a full name, ex. John H. Smith
#         api_response = api_instance.gender_full(full_name)
#         gender_full_geo()
        api_response = api_instance.gender_full(full_name)
        

#         pprint(api_response.likely_gender)
    except ApiException as e:
        print("Exception when calling PersonalApi->gender_full: %s\n" % e)
        return 'exception'
    return api_response.likely_gender
    
gender_fullname(full_name)

In [75]:
from __future__ import print_function
import time
import openapi_client
from openapi_client.rest import ApiException
from pprint import pprint

# Configure API key authorization: api_key
configuration = openapi_client.Configuration()
configuration.api_key['X-API-KEY'] = '417aa2d90dfabcbdad52cac63f2891a8'
# Uncomment below to setup prefix (e.g. Bearer) for API key, if needed
# configuration.api_key_prefix['X-API-KEY'] = 'Bearer'

# create an instance of the API class
api_instance = openapi_client.PersonalApi(openapi_client.ApiClient(configuration))
first_name = 'Furqan' # str | 
last_name = 'Arshad' # str | 
def origin_fullname(full_name):
    try:
        # [USES 10 UNITS PER NAME] Infer the likely country of origin of a personal name. Assumes names as they are in the country of origin. For US, CA, AU, NZ and other melting-pots : use 'diaspora' instead.
        api_response_origin = api_instance.origin(first_name, last_name)
        api_response_gender = api_instance.gender_full(full_name)
        
#         pprint(api_response_gender.likely_gender)
#         pprint(api_response_origin.country_origin)
    except ApiException as e:
        print("Exception when calling PersonalApi->origin: %s\n" % e)
    return (api_response_origin.country_origin+','+api_response_gender.likely_gender)
origin_fullname('Furqan Arshad')

'PK,male'

In [32]:
#Only Pakistani authors
# new_df = df[~df["col"].str.contains(word)]
df_notPak=df[~df['correspondence'].str.contains('pak')]

In [53]:
#show top 100 authors by count
df_notPak.nlargest(2500, ['NumberofAuthors'])

,correspondence,Au_unique_IN_str,subjareas_str,source_str,funding_list_str,funding_list_str,grant_str,ScienceDirectScore,NumberofAuthors
16316,[],"Aad G.,Aarrestad T.K.,Abbaneo D.,Abbiendi G.,A...",[PHYS],"[51,None,deu,01,08,1 August 2020,2020,None,Non...",None,None,None,None,5246
101352,[],"Aaboud M.,Aad G.,Aarrestad T.K.,Abbaneo D.,Abb...",[PHYS],"[88,None,deu,01,05,1 May 2019,2019,service@spr...","[Row(agency='California Earthquake Authority',...","[Row(agency='California Earthquake Authority',...",None,None,5215
23548,[],"Aad G.,Aarrestad T.K.,Abbaneo D.,Abbiendi G.,A...",[PHYS],"[191803,None,usa,14,05,14 May 2015,2015,revtex...","[Row(agency=None, agency_acronym=None, agency_...","[Row(agency=None, agency_acronym=None, agency_...",None,None,5154
48705,[{country=che}],"Aad G.,Aarrestad T.K.,Abbaneo D.,Abbiendi G.,A...",[PHYS],"[45,None,deu,01,08,1 August 2016,2016,service@...","[Row(agency=None, agency_acronym=None, agency_...","[Row(agency=None, agency_acronym=None, agency_...",None,None,5114
132293,[],"Aaboud M.,Aad G.,Aarrestad T.K.,Abbaneo D.,Abb...",[PHYS],"[33,None,deu,01,01,1 January 2018,2018,None,No...","[Row(agency='California Earthquake Authority',...","[Row(agency='California Earthquake Authority',...","[Row(grant_acronym='ANPCyT', grant_agency='Age...",None,5097
...,...,...,...,...,...,...,...,...,...
162971,[{country=twn}],"Beier F.,Chatterjee S.,Cheng A.-L.,Chung I.J.,...",[MEDI],"[None,None,usa,01,06,June 2017,2017,usjcs@else...",None,None,None,97,29
176185,[{country=che}],"Al-Johany A.M.,Auer M.,Betto-Colliard C.,Borki...","[AGRI,BIOC]","[106615,None,usa,01,12,December 2019,2019,apjc...",[Row(agency='Mohamed bin Zayed Species Conserv...,[Row(agency='Mohamed bin Zayed Species Conserv...,"[Row(grant_acronym='APVV', grant_agency='Agent...",81,29
178647,[{country=mdg}],"Abebe M.,Andriamandimby S.F.,Aseffa A.,Brookes...","[BIOC,IMMU,MEDI]","[None,None,usa,None,None,July 2010,2010,None,N...",None,None,None,None,29
179912,[{country=deu}],"Afroze B.,Alcausin M.,Aytes A.,Bonafe L.,Chand...","[BIOC,MEDI]","[None,None,usa,None,None,October 2010,2010,inf...",None,None,None,None,29
190028,[{country=che}],"Barnighausen T.,Benn C.S.,Berkley S.,Bhutta Z....",[MEDI],"[None,None,gbr,None,None,May 2014,2014,None,No...",None,None,None,97,29

In [35]:
df_notPak['Au_unique_IN_str'] = df_notPak['Au_unique_IN_str'].str.slice(1,-1)

C:\Users\Chisel-Lab\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [40]:
import numpy as np
df_notPak=df_notPak.fillna(np.nan).replace([np.nan], [None])

In [48]:
df_notPak=df_notPak.loc[df_notPak['Au_unique_IN_str'].notnull()]

In [49]:
df_notPak['NumberofAuthors'] = df_notPak['Au_unique_IN_str'].apply(lambda x: len(x.split(',')))

In [55]:
#drop authors greater than 200 to reduce the size of dataframe
df_notPak_l200=df_notPak[df_notPak.NumberofAuthors < 200]

In [56]:
df_notPak_l200

,correspondence,Au_unique_IN_str,subjareas_str,source_str,funding_list_str,funding_list_str,grant_str,ScienceDirectScore,NumberofAuthors
1,[{country=tur}],"Akkurt M.,Arshad M.N.,Khan I.U.,Shafiq M.","[CHEM,MATE,PHYS]","[None,None,gbr,None,None,2009,2009,None,None,N...",None,None,None,None,4
2,[{country=chn}],"Ban R.,Cooke H.J.,Hua J.,Iqbal F.,Shi Q.,Xu B....","[AGRI,BIOC,COMP]","[None,None,gbr,None,None,2015,2015,jnl.info@ou...",None,None,None,None,8
9,[{country=nor}],"Bischof R.,Dupont P.,Nawaz M.A.,Tourani M.",[AGRI],"[e03030,None,usa,01,07,1 July 2020,2020,None,N...","[Row(agency='Norges ForskningsrÃƒÂ¥d', agency_...","[Row(agency='Norges ForskningsrÃƒÂ¥d', agency_...","[Row(grant_acronym=None, grant_agency='Norges ...",None,4
10,[{country=chn}],"Abbas S.,Lassoued D.,Li T.,Wang P.,Zada A.",[MATH],"[4,None,deu,01,12,1 December 2019,2019,None,No...","[Row(agency='Linyi University', agency_acronym...","[Row(agency='Linyi University', agency_acronym...",None,None,5
12,[{country=usa}],"Dilshad E.,Faiola N.A.,Figueroa Milla A.E.,Hua...",[BIOC],"[None,None,usa,None,None,2020,2020,None,None,N...",[Row(agency='Alabama Commission on Higher Educ...,[Row(agency='Alabama Commission on Higher Educ...,None,None,8
...,...,...,...,...,...,...,...,...,...
207378,[{country=hkg}],"Fan Z.,Lee Y.-K.,Leung S.-F.,Riaz K.",[ENGI],"[7919169,None,usa,01,08,August 2017,2017,None,...",None,None,None,None,4
207387,[{country=usa}],"Horton W.,Kahlon L.Z.,Kaladze T.D.,Onishchenko...","[AGRI,EART,ENVI]","[None,None,usa,None,None,December 2013,2013,cu...","[Row(agency='National Science Foundation', age...","[Row(agency='National Science Foundation', age...","[Row(grant_acronym='NSF', grant_agency='Nation...",None,5
207389,[{country=kor}],"Baek I.H.,Bhatti U.H.,Hussain A.,Khan H.A.,Nam...","[CENG,CHEM,ENGI,ENVI]","[123439,None,nld,01,06,1 June 2020,2020,None,N...","[Row(agency=None, agency_acronym=None, agency_...","[Row(agency=None, agency_acronym=None, agency_...","[Row(grant_acronym=None, grant_agency='ASCRS R...",81,7
207394,[{country=gbr}],"Ali M.,Qamar F.",[ENGI],"[None,None,gbr,01,08,August 01, 2015,2015,None...",None,None,None,97,2
207396,[],"Asad M.U.,Balas V.E.,El-Hawary M.E.,Farooq U.,...","[COMP,MATH]","[7337972,Row(enddate='20150805', location=None...",None,None,None,None,5

In [54]:
df_notPak_g200=df_notPak[df_notPak.NumberofAuthors > 200]

In [57]:
df_notPak_g200

,correspondence,Au_unique_IN_str,subjareas_str,source_str,funding_list_str,funding_list_str,grant_str,ScienceDirectScore,NumberofAuthors
45,[{country=chn}],"Ablikim M.,Achasov M.N.,Ahmed S.,Ai X.C.,Albay...",[PHYS],"[012002,None,usa,01,07,1 July 2017,2017,revtex...",None,None,None,None,434
123,[],"Abbaneo D.,Abbiendi G.,Abbrescia M.,Abdullin S...","[MATH,PHYS]","[P06005,None,gbr,01,06,1 June 2015,2015,helen....","[Row(agency='National Science Foundation', age...","[Row(agency='National Science Foundation', age...",None,None,2143
220,[{country=chn}],"Ablikim M.,Achasov M.N.,Ai X.C.,Albayrak O.,Al...",[PHYS],"[092002,None,usa,03,11,3 November 2014,2014,re...","[Row(agency='Rijksuniversiteit Groningen', age...","[Row(agency='Rijksuniversiteit Groningen', age...","[Row(grant_acronym='RUG', grant_agency='Rijksu...",None,394
1062,[{country=ita}],"Abbaneo D.,Abbiendi G.,Abbrescia M.,Abdullin S...","[ENGI,PHYS]","[1575,None,usa,None,None,March 2011,2011,journ...","[Row(agency=None, agency_acronym=None, agency_...","[Row(agency=None, agency_acronym=None, agency_...",None,None,2155
1167,[],"Ablikim M.,Achasov M.N.,Ahmed S.,Ai X.C.,Albay...",[PHYS],"[012005,None,usa,01,07,1 July 2017,2017,revtex...","[Row(agency=None, agency_acronym=None, agency_...","[Row(agency=None, agency_acronym=None, agency_...","[Row(grant_acronym='CAS', grant_agency='Chines...",None,429
...,...,...,...,...,...,...,...,...,...
206350,[],"Aarrestad T.K.,Abbaneo D.,Abbiendi G.,Abbresci...",[PHYS],"[114,None,deu,01,04,1 April 2019,2019,service@...","[Row(agency='California Earthquake Authority',...","[Row(agency='California Earthquake Authority',...",None,None,2280
206686,[],"Acharya S.,Adamova D.,Adler A.,Adolfsson J.,Ag...",[PHYS],"[012016,None,usa,01,01,1 January 2019,2019,rev...",[Row(agency='Nederlandse Organisatie voor Wete...,[Row(agency='Nederlandse Organisatie voor Wete...,None,None,1020
206687,[{country=arm}],"Abbaneo D.,Abbiendi G.,Abbrescia M.,Abdel-Basi...",[PHYS],"[262001,None,usa,20,12,20 December 2010,2010,N...",[Row(agency='Science and Technology Facilities...,[Row(agency='Science and Technology Facilities...,None,None,2163
206787,[{country=usa}],"Abera S.F.,Abubakar I.,Achoki T.,Adelekan A.,A...",[MEDI],"[None,None,gbr,None,None,2014,2014,cususerv@la...","[Row(agency='Medical Research Council', agency...","[Row(agency='Medical Research Council', agency...",None,97,230
206822,[{country=arm}],"Abbaneo D.,Abbiendi G.,Abbrescia M.,Abdullin S...",[PHYS],"[052,None,deu,None,None,2012,2012,None,None,No...","[Row(agency=None, agency_acronym=None, agency_...","[Row(agency=None, agency_acronym=None, agency_...",None,None,2249

In [24]:
# code to split by comma
df_notPak_names=df_notPak['Au_unique_IN_str'].str.split(',', expand=True)

In [28]:
df_testt = df_notPak_names

In [29]:
df_testt

,0,1,2,3,4,5,6,7,8,9,...,5236,5237,5238,5239,5240,5241,5242,5243,5244,5245
1,[Akkurt M.,Arshad M.N.,Khan I.U.,Shafiq M.],None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
2,[Ban R.,Cooke H.J.,Hua J.,Iqbal F.,Shi Q.,Xu B.,Yang Y.,Zhang Y.],None,None,...,None,None,None,None,None,None,None,None,None,None
9,[Bischof R.,Dupont P.,Nawaz M.A.,Tourani M.],None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
10,[Abbas S.,Lassoued D.,Li T.,Wang P.,Zada A.],None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
12,[Dilshad E.,Faiola N.A.,Figueroa Milla A.E.,Huang Y.,Khayam A.U.,Mirza B.,Patel H.,Sheikh M.S.],None,None,...,None,None,None,None,None,None,None,None,None,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
207378,[Fan Z.,Lee Y.-K.,Leung S.-F.,Riaz K.],None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
207387,[Horton W.,Kahlon L.Z.,Kaladze T.D.,Onishchenko O.,Pokhotelov O.],None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
207389,[Baek I.H.,Bhatti U.H.,Hussain A.,Khan H.A.,Nam S.C.,Park C.Y.,Shah A.K.],None,None,None,...,None,None,None,None,None,None,None,None,None,None
207394,[Ali M.,Qamar F.],None,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
207396,[Asad M.U.,Balas V.E.,El-Hawary M.E.,Farooq U.,Gu J.],None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None

In [78]:
df_testt.to_csv('nonpakistanAuthors_origin_gender.csv')

In [73]:
df_testt[0].loc[df_testt[0].str.contains('PK,male')].count()

47455

In [81]:
mylist= []
for column in df_testt:
    print(column)
    for i in range(len(df_testt[column])):
        if df_testt[column].values[i] is not None:
            if ((df_testt[column].values[i] != 'PK,male')):
                if ((df_testt[column].values[i] != 'PK,female')):
#                     print(df_testt[column].values[i])
                    gender=origin_fullname(df_testt[column].values[i])
                    df_testt[column].values[i] = gender
                    mylist.append(gender)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
Exception when calling PersonalApi->origin: (400)
Reason:
HTTP response headers: HTTPHeaderDict({'Content-Length': '0', 'Date': 'Fri, 30 Oct 2020 10:04:10 GMT', 'Connection': 'close'})

UnboundLocalError: local variable 'api_response_gender' referenced before assignment

In [80]:
df_testt

,0,1,2,3,4,5,6,7,8,9,...,5236,5237,5238,5239,5240,5241,5242,5243,5244,5245
1,"PK,male","PK,male","PK,male","PK,male",None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
2,"PK,male","PK,male","PK,male","PK,male",Shi Q.,Xu B.,Yang Y.,Zhang Y.],None,None,...,None,None,None,None,None,None,None,None,None,None
9,"PK,male","PK,male","PK,male","PK,female",None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
10,"PK,male","PK,male","PK,male","PK,male",Zada A.],None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
12,"PK,male","PK,female","PK,female","PK,male",Khayam A.U.,Mirza B.,Patel H.,Sheikh M.S.],None,None,...,None,None,None,None,None,None,None,None,None,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
207378,"PK,male","PK,female","PK,male",Riaz K.],None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
207387,"PK,male","PK,male","PK,female",Onishchenko O.,Pokhotelov O.],None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
207389,"PK,male","PK,male","PK,male",Khan H.A.,Nam S.C.,Park C.Y.,Shah A.K.],None,None,None,...,None,None,None,None,None,None,None,None,None,None
207394,"PK,female","PK,male",None,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
207396,"PK,male","PK,male","PK,male",Farooq U.,Gu J.],None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None

In [ ]:
for i in range(math.ceil(len(x)/100)):
    if (len(x)%100 != 0):
        if(i==math.ceil(len(x)/100)):
            x[i*100:]
        else:
            x[i*100:(i+1)*100]
        
        

a[start:stop]  # items start through stop-1